<%= form_for(@recommendation, :url => applicants_recommendations_update_url, :html => { :method => :put }) do |f| %>
  <%= errors_for @recommendation %>

  <div class='row'>
    <div class="span12">
      <div class="inner">
        <h2>Recommendation for <%= @recommendation.applicant.name %></h2>
      </div>
    </div>


    <div class="span9">

      <div class='row'>

        <section class='recommender'>
          <div class="span9">

            <%= f.fields_for :recommender do |builder| %>
              <fieldset>
                <div class="inner">
                  <legend>Please update your contact info</legend>
                </div>
                <div class="row">

                <div class="span4">
                  <div class="inner">
                    <%= builder.text_field :first_name, :placeholder => 'First Name' %>
                  </div>
                </div>

                <div class="span4 offset1">
                  <div class="inner">
                    <%= builder.text_field :last_name, :placeholder => 'Last Name' %>
                  </div>
                </div>

                <div class="span4">
                  <div class="inner">
                    <%= builder.text_field :email, :placeholder => :Email %>
                  </div>
                </div>

                <div class="span4 offset1">
                  <div class="inner">
                    <%= builder.text_field :phone, :placeholder => :Phone %>
                  </div>
                </div>

                <div class="span9">
                  <div class="inner">
                    <%= builder.text_field :url, :placeholder => :URL %>
                  </div>
                </div>


                <div class="span4">
                  <div class="inner">
                    <%= builder.text_field :organization, :placeholder => 'Organization or University' %>
                  </div>
                </div>

                <div class="span4 offset1">
                  <div class="inner">
                    <%= builder.text_field :department, :placeholder => :Department %>
                  </div>
                </div>

                <div class="span9">
                  <div class="inner">
                    <%= builder.text_field :title, :placeholder => :Title %>
                  </div>
                </div>

                <hr class="inner clearfix" />

              </fieldset>
            <%- end -%>
          </div>
        </section>
        <section class='recommender'>
          <div class="span9">
            <div class='inner'>

              <%#= student_waiver %>

              <div>
              	<label>How long have you known the applicant?</label>
              	<%= f.select :known_applicant_for, %w{ <1\ year 1-2\ years 2-3\ years 3-4\ years >4\ years } %>
              </div>

              <br />

              <div>
              	<label>In what capacity have you known the applicant?</label>
              	<%= f.select :known_capacity, %w{ Undergrad\ in\ one\ course Undergrad\ in\ multiple\ courses Research\ Assistant Teaching\ Assistant Other} %>
              </div>

              <br />

              <div>
              	<p>Please rate the applicant's overall promise in comparison with other individuals whom you have known at similar stages in their careers:</p>

              	<label class="radio">
                  <input name="recommendation[overall_promise]" type="radio" value="Top 1%">
                  Top 1%
                </label>

              	<label class="radio">
                  <input name="recommendation[overall_promise]" type="radio" value="Top 5%">
                  Top 5%
                </label>

              	<label class="radio">
                  <input name="recommendation[overall_promise]" type="radio" value="Top 10%">
                  Top 10%
                </label>

              	<label class="radio">
                  <input name="recommendation[overall_promise]" type="radio" value="Top 25%">
                  Top 25%
                </label>

              	<label class="radio">
                  <input name="recommendation[overall_promise]" type="radio" value="below average">
                  average
                </label>

              	<label class="radio">
                  <input name="recommendation[overall_promise]" type="radio" value="below average">
                  below average
                </label>
              </div>

              <br />

              <div>
              	<label>Is your institution primarily an undergraduate institution?</label>&nbsp;<%= f.select :undergraduate_institution, %w{ No Yes } %>
              </div>

              <br />

              <div>
              	<p>Please comment on the quality of the applicant's previous work, academic abilities, and potential as a researcher. If applicable, please comment on any circumstances that may be helpful in evaluating the applicant's academic performance.</p>
              	<p>You can copy and paste into the text box below.</p>
              </div>

              <div><%= f.text_area :body, rows: 5 %></div>
            </div>
          </div>
        </section>
      </div> <!-- end .row -->
    </div> <!-- end .span9 -->
    <div class="span12">
      <div class="inner">
        <hr />
        <p class='clear'><%= f.submit "Submit Recommendation Info", :class => "btn btn-success" %></p>
      	<p><em>Thank you for taking the time to evaluate this applicant. Your opinion will be carefully considered during participant selection.</em></p>
      </div>
    </div>

  </div> <!-- end .row -->

<% end %>