<div id="single_column">
	<%= render :partial => "layouts/header" %>
	<%= content_tag 'div', h(flash[:notice]), :class => 'notice', :id => 'notice' if flash[:notice] %> 
	<%= content_tag 'div', h(flash[:error]), :class => 'notice error', :id => 'error' if flash[:error] %>
	<fieldset id="new_login">
		<% if logged_in? %>
			<h5>You are already logged in.</h5>
			<h5>Perhaps you want to check your <%= link_to "application?", :controller => "users", :action => "edit" %></h5>
		<% else -%>
			<%= error_messages_for :session %>
			<h2>Enter Login Information</h2>
			<% form_tag session_path do -%>
			<p><label for="login">Email</label><br />
			<%= text_field_tag 'login' %></p>

			<p><label for="password">Password</label><br />
			<%= password_field_tag 'password' %></p>

			<p><label for="remember_me">Remember me:</label>
			<%= check_box_tag 'remember_me' %></p>

			<p><%= submit_tag 'Log in' %></p>
			<% end -%>
		<% end -%>
	</fieldset>
</div>