<div id="single_column">
	<%= render :partial => "application/header" %>
	<%= content_tag 'div', h(flash[:notice]), :class => 'notice', :id => 'notice' if flash[:notice] %> 
	<%= content_tag 'div', h(flash[:error]), :class => 'notice error', :id => 'error' if flash[:error] %>
	<fieldset id="login">
		<% if logged_in? %>
			<p>Umm... You are already logged in.</p>
			<p>Perhaps it's time you <%= link_to "logout", :controller => "sessions", :action => "destroy" %>
		<% else -%>
			<%= error_messages_for :session %>
			<h2>Enter Login Information</h2>
			<% form_tag session_path do -%>
			<p><label for="login">Login</label><br />
			<%= text_field_tag 'login' %></p>

			<p><label for="password">Password</label><br />
			<%= password_field_tag 'password' %></p>

			<p><label for="remember_me">Remember me:</label>
			<%= check_box_tag 'remember_me' %></p>

			<p><%= submit_tag 'Log in' %></p>
			<% end -%>
		<% end -%>
	</fieldset>
</div>