<div id="single_column">
	<%= render :partial => "application/header" %>
	<h5><%= flash[:notice] %></h5>
	<fieldset id="login">
		<% if logged_in? %>
			<p>Dude. You are already logged in. What's wrong with you?</p>
			<p>Perhaps it's time you <%= link_to "logout", :controller => "sessions", :action => "destroy" %>
		<% else -%>
			<%= error_messages_for :session %>
			<h2>Enter Login Information</h2>
			<% form_tag session_path do -%>
			<p><label for="login">Login</label><br/>
			<%= text_field_tag 'login' %></p>

			<p><label for="password">Password</label><br/>
			<%= password_field_tag 'password' %></p>

			<p><label for="remember_me">Remember me:</label>
			<%= check_box_tag 'remember_me' %></p>

			<p><%= submit_tag 'Log in' %></p>
			<% end -%>
		<% end -%>
	</fieldset>
</div>