<p>Dear <%=h @firstname %>,</p>

<p>This is a reminder from the <%= Setting.department %>, <%= Setting.university %> <%= Setting.app_title %>. Your application is incomplete and will not be reviewed if it is not submitted before the deadline of <%= Setting.application_deadline.to_date.strftime("%A, %b %d") %>. Please login and complete your application as soon as possible.</p>

<p>Thanks</p>