<p>Dear Recommender,<br /><br />
This is a reminder from the <%= Setting.department %>, <%= Setting.university %> <%= Setting.app_title %>. <%= @firstname + " " + @lastname + "( " + @email + " )" %> has requested a recommendation from you. To help us review all applications in a timely manner, please submit your recommendation before the deadline of <%= Setting.application_deadline.to_date.strftime("%A, %b %d") %> using the following link <%= link_to ("https://" + Setting.domain + "/recommendations/new/#{@token}"), ("https://" + Setting.domain + "/recommendations/new/#{@token}")%></p>
