<p>This email is to confirm that an account has been created for <%= @firstname + " " + @lastname + " ( " + @email + " )" %> for the purpose of applying to the <%= Setting.app_title %> program at the <%= Setting.department %>, <%= Setting.university %>. In order to complete your application you will need to submit the following information by <%= Setting.application_deadline.to_date.strftime("%A, %b %d") %>:</p>

<ol>
	<li>The name and contact information of a faculty member who is willing to provide a short letter of recommendation. You should ask the faculty member if they are willing to serve as a reference prior to including this information in your application.</li>
	<li>A copy of your most recent transcript in pdf format (an unofficial copy is fine).</li>
	<li>Biographical Information</li>
	<li>
		Personal statements to support your application including:
		<ol>
			<li>Why are you applying to the Scripps Undergraduate Research Fellowship (SURF) REU program?</li>
			<li>What, if any, research experience do you have? What type(s) of research experience would you like to experience and develop? (note: previous research experience is not required for participation in the program)</li>
			<li>Please list any laboratory or computer skills you currently possess. Which existing skills would you like to improve, or new skills would you like to develop?</li>
			<li>Do you feel that your academic record accurately reflects your abilities as a student? Please explain</li>
		</ol>
	</li>
</ol>

<p>Please verify your account and continue your REU application by clicking the following link: <%= link_to ("https://" + Setting.domain + "/activate/#{@token}"), ("https://" + Setting.domain + "/activate/#{@token}") %></p>