<p>You or someone have requested to reset the password for the <%= Setting.department %>, <%= Setting.university %> <%= Setting.application_title %>.  To continue, please click the following link: <%= link_to ("https://" + Setting.domain + "/users/reset/#{@user.token}"), ("https://" + Setting.domain + "/users/reset/#{@user.token}") %></p>

<p>If you did not make this request, please contact us at <%= mail_to Settign.mail_from %>.</p>

<p>Thanks</p>