<% fields_for @recommender do |r| -%>
	<p class="float">
		<label>Name</label><br/>
		<%= r.text_field 'name' %>
	</p>
	<p class="float">
		<label>Title</label><br/>
		<%= r.text_field 'title' %>
	</p>
	<p class="float">
		<label>Department</label><br/>
		<%= r.text_field 'department' %>
	</p>
	<p class="clear">
		<label>College or University</label><br/>
		<%= r.text_field 'college' %>
	</p>
	<p class="float">
		<label>Phone</label><br/>
		<%= r.text_field 'phone' %>
	</p>
	<p class="float">
		<label>Email</label><br/>
		<%= r.text_field 'email' %>
	</p>
<% end -%>