<%= error_messages_for :recommendation %>
<%= error_messages_for 'recommender', :object => @user.recommender, :object_name => "contact info"%>

<% fields_for @user.recommender do |r| %>
	<h4>Please verify your contact info:</h4>
	<div class="fieldbox float">
		<label>Name</label><br />
		<%= r.text_field 'name' %>
	</div>
	<div class="fieldbox float">
		<label>Title</label><br />
		<%= r.text_field 'title' %>
	</div>
	<div class="fieldbox float">
		<label>Department</label><br />
		<%= r.text_field 'department' %>
	</div>
	<div>
		<label>College or University</label><br />
		<%= r.text_field 'college' %>
	</div>
	<div class="fieldbox float">
		<label>Phone</label><br />
		<%= r.text_field 'phone' %>
	</div>
	<div class="fieldbox float">
		<label>Email</label><br />
		<%= r.text_field 'email' %>
	</div>
<% end -%>

<hr />

<h4>Recommendation for <%= @user.name %></h4>

<%= student_waiver %>

<div>
	<label>How long have you known the applicant?</label>
	<%= f.select 'known_student', %w{ <1\ year 1-2\ years 2-3\ years 3-4\ years >4\ years } %>
</div>

<br />

<div>
	<label>In what capacity have you known the applicant?</label>
	<%= f.select 'know_capacity', %w{ Undergrad\ in\ one\ course Undergrad\ in\ multiple\ courses Research\ Assistant Teaching\ Assistant Other} %>
</div>

<br />

<div>
	<label>Please rate the applicant's overall promise in comparison with other individuals whom you have known at similar stages in their careers:</label><br />
	<span class="small"><%= f.radio_button 'rating', 'Top 1%' %><label>Top 1%</label>&nbsp;
	<%= f.radio_button 'rating', 'Top 5%' %><label>Top 5%</label>&nbsp;
	<%= f.radio_button 'rating', 'Top 10%' %><label>Top 10%</label>&nbsp;
	<%= f.radio_button 'rating', 'Top 25%' %><label>Top 25%</label>&nbsp;
	<%= f.radio_button 'rating', 'average' %><label>average</label>&nbsp;
	<%= f.radio_button 'rating', 'below average' %><label>below average</label>&nbsp;</span>
</div>

<br />

<div>
	<label>Is your institution primarily an undergraduate institution?</label>&nbsp;<%= f.select 'undergrad_inst', %w{ No Yes } %>
</div>

<br />

<div>
	<label>Please comment on the quality of the applicant's previous work, academic abilities, and potential as a researcher. If applicable, please comment on any circumstances that may be helpful in evaluating the applicant's academic performance.</label><br />
	<small>You can copy and paste into the text box below.</small>
</div>

<div><%= f.text_area 'faculty_comment' %></div>