<div id="single_column">
	<%= render :partial => "application/header" %>
	<h2>Summer 2008 Online Recommendation</h2>
	<div id="application">
		<p id="student_info">
			<span class="blood_red"><%= link_to @student.firstname + " " + @student.lastname, "/pdf/#{ @student.id.to_s + "_" + @student.lastname }.pdf", :target => "_blank" %></span> has applied to participate in a 10-week summer research program in the Department of Bioengineering at the University of California, San Diego. Thank you for taking the time to complete this recommendation. We value your input and will consider it carefully.
		</p>	
		<h4>Verify Personal Data</h4>
		<%= error_messages_for :recommendation %>
		<% form_for @recommendation do |f| %>
			<fieldset id="recommender">
				<%= render :partial => "recommender" %>
			</fieldset>
			<h4>Student Information</h4>
			<fieldset>
				<input id="recommendation_student_id" name="recommendation[student_id]" size="30" type="hidden" value="<%= @student.id %>" />
				<div class="fieldbox small">
					<label>How long have you known the applicant?</label>
					<%= f.select 'known_student', %w{ <1\ year 1-2\ years 2-3\ years 3-4\ years >4\ years } %>
				</div>
				<div class="fieldbox small">
					<label>In what capacity have you known the applicant?</label>
					<%= f.select 'know_capacity', %w{ Undergrad\ in\ one\ course Undergrad\ in\ multiple\ courses Research\ Assistant Teaching\ Assistant Other} %>
				</div>
				<div class="fieldbox small">
					<label>Please rate the applicant's overall promise in comparison with other individuals whom you have known at similar stages in their careers:</label><br />
					<span class="small"><%= f.radio_button 'rating', 'Top 1%' %><label>Top 1%</label>&nbsp;
					<%= f.radio_button 'rating', 'Top 5%' %><label>Top 5%</label>&nbsp;
					<%= f.radio_button 'rating', 'Top 10%' %><label>Top 10%</label>&nbsp;
					<%= f.radio_button 'rating', 'Top 25%' %><label>Top 25%</label>&nbsp;
					<%= f.radio_button 'rating', 'average' %><label>average</label>&nbsp;
					<%= f.radio_button 'rating', 'below average' %><label>below average</label>&nbsp;</span>
				</div>
				<div class="fieldbox small">
					<label>What is the applicant's GPA:</label><%= f.text_field 'gpa' %> out of <%= f.text_field 'gpa_range' %>
				</div>
				<div class="fieldbox small">
					<label>Is your institution primarily an undergraduate institution?</label>&nbsp;<%= f.select 'undergrad_inst', %w{ No Yes } %>
				</div>
			</fieldset>
			<h4>&nbsp;</h4>
			<fieldset>
				<p>
					<label>Please comment on the quality of the applicant's previous work, academic abilities, and potential as a researcher. If applicable, please comment on any circumstances that may be helpful in evaluating the applicant's academic performance.</label>
					<%= f.text_area 'faculty_comment' %>
				</p>
			</fieldset>
			<%= f.submit "Submit Recommendation" %>		
		<% end %>
	</div>
</div>