<div id="single_column">
	<%= render :partial => "application/header" %>
	<div id="recommendations">
		<%= render :partial => "admin/admin_header" %>
		<h5><%= link_to "View Student Application", @recommendation.student %></h5>
		
		<div id="recommendation">
			<h1>Recommendation for <%= @recommendation.student.firstname %> <%= @recommendation.student.lastname %></h1>

			<h5>Recommender Personal Data</h5>
			<p>
				Name: <b><%= @recommendation.recommender.name %></b>
				<br />
				Title: <b><%= @recommendation.recommender.title %></b>
				<br />
				College: <b><%= @recommendation.recommender.college %></b> | <b>Department: <%= @recommendation.recommender.department %></b>
				<br />
				Email: <b><%= mail_to @recommendation.recommender.email, @recommendation.recommender.email %></b> | <b>Phone: <%= @recommendation.recommender.phone %></b>	
			</p>
			
			<h5>Student Information</h5>
			<p>
				How long have you known the applicant:<br /> <b><%= @recommendation.known_student %></b>
			</p>
			<p>
				In what capacity have you known the applicant:<br /> <b><%= @recommendation.know_capacity %></b>
			</p>
			<p>
				Please rate the applicant's overall promise in comparison with other individuals whom you have 
				known at similar stages in their careers:<br /> <b><%= @recommendation.rating %></b>
			</p>
			<p>
				What is the applicant's GPA:<br /> <b><%= @recommendation.gpa %></b> out of <b><%= @recommendation.gpa_range %></b>
			</p>
			<p>
				Is your institution primarily an undergraduate institution:<br /> <b><%= @recommendation.undergrad_inst %></b>
			</p>
			
			<h5>Faculty Recommendation</h5>
			<p>
				<%= @recommendation.faculty_comment %>
			</p>
		</div>
	</div> 
</div>