<div id="single_column">
	<%= render :partial => "application/header" %>
	<%= content_tag 'div', h(flash[:notice]), :class => 'notice', :id => 'notice' if flash[:notice] %> 
	<%= content_tag 'div', h(flash[:error]), :class => 'notice error', :id => 'error' if flash[:error] %>
	<h2>Summer 2008 Online Application</h2>
	<div id="about">
		<h5>Submission Deadline:&nbsp;<span class="blood_red">February 13, 2009</span></h5>
		<h5 id="eligibilty">Eligibility:</h5>
		<ul class="bold blood_red">
			<li>You must be a current, full-time undergraduate student</li>
			<li>You must not plan to graduate before fall</li>
			<li>You must be a U.S. citizen or permanent resident</li>
		</ul>	
	</div>
	<div id="application">
		<%= error_messages_for :student %>
		<% form_for(@student) do |f| %>
			
			<h4>Personal Data</h4>
			<h1 id="flash"><%= flash[:notice] %></h1>
			<fieldset id="personal_data">
				<%= render :partial => 'personal_data', :locals => { :f => f } %>
			</fieldset>
			<p id="disclaimer"><em>* for statistical purposes only</em></p>
			<h4>Academic Information</h4>
			<fieldset id="academic_information">
				<%= render :partial => 'academic_information', :locals => { :f => f } %>
			</fieldset>
			
			<h4>Faculty Recommendation</h4>
			<%= error_messages_for :recommender %>
			<fieldset id="faculty_recommendation">
				<%= render :partial => 'faculty_recommendation' %>		
			</fieldset>
			<h4>&nbsp;</h4>
			<fieldset id="essays">
				<%= render :partial => 'essays', :locals => { :f => f } %>
			</fieldset>
			<div id="observers">
				<%= render :partial => "observers" %>
			</div>
			
			<%= show_simple_captcha(:image_style => "random", :object=>"student") %>  
			<%= f.submit "Submit Application" %>
					
		<% end %>
	</div>
</div>