<div id="single_column">
	<%= render :partial => "application/header" %>
	<div id="status">
		<h1>Application Status</h1>
		<p>Your application was successfully submitted on <%= @student.created_at.strftime("%B %d [%H:%M %Z]") %>.</p>
		<% if @student.recommendation -%>
			<p>Your recommendation was successfully submitted by <%= @student.recommender.name %> on <%= @student.recommendation.created_at.strftime("%B %d [%H:%M %Z]") %>.</p>
		<% else -%>
				<p>We have not received a recommendation yet. This request was previously sent on <%= @student.updated_at.strftime("%B %d [%H:%M %Z]") %> to <%= @student.recommender.name %> at <%= @student.recommender.email %>.</p>
				<p>Click <%= link_to "HERE", { :controller => "students", :action => "resend_request", :id => @student }, :confirm => "You are about to resend your recommendation request. This request was previously sent on #{ @student.updated_at.strftime("%B %d [%H:%M %Z]") }." %> to resend your request.</p>
				<%= content_tag 'div', h(flash[:status]), :class => 'status_error', :id => 'status_error' if flash[:status] %>
		<% end -%>
	</div>
</div>
