<div id="single_column">
	<%= content_tag 'div', h(flash[:notice]), :class => 'notice', :id => 'notice' if flash[:notice] %> 
	<%= content_tag 'div', h(flash[:error]), :class => 'notice error', :id => 'error' if flash[:error] %>
	<%= render :partial => "application/header" %>
	<div id="welcome">
		<h2>June 19 - August 23, 2008</h2>
		<p>The <%= link_to "Department of Bioengineering", "http://bioengineering.ucsd.edu/", :target => "_blank" %> at the <%= link_to "University of California, San Diego", "http://ucsd.edu", :target => "_blank" %> is pleased to announce a National Science Foundation Research Experience for Undergraduates (<%= link_to "NSF-REU", "http://www.nsf.gov/crssprgm/reu/", :target => "_blank" %>) program in Regenerative Medicine, Multi-Scale Bioengineering, and Systems Biology.</p>
		<p>This exciting summer program provides undergraduate students access to state-of-the-art facilities, the opportunity to work with accomplished and experienced faculty mentors, and to participate in highly collaborative, cutting-edge research projects. In addition to the training students receive in individual research laboratories, extensive professional development opportunities will be provided through weekly workshops, an undergraduate research conference, panel discussions, and GRE preparation courses.</p> 
		<div class="lists">
			<h4>Highlights</h4>
			<ul>
			 	<li>$4,000 stipend</li>
			 	<li>free on-campus housing or housing allowance</li>
			 	<li>free travel to and from San Diego</li>
			 	<li>hands-on research experience</li>
			 	<li>present at the UCSD Summer Research Conference</li>
			 	<li>GRE preparation courses</li>
			 	<li>professional workshops &amp; networking events</li>
			</ul>
		</div>
		<div class="lists">
			<h4>Eligibility Requirements</h4>
			<ul>
			 	<li>full-time undergraduate student</li>
			 	<li>graduating fall 2008 or later</li>
			 	<li>U.S. citizen or permanent resident</li>
			</ul>
		</div>
		<p id="applyp"><%=link_to image_tag('apply.gif'), { :controller => "students", :action => "new" }, :id => "applylink" %></p>

		<div id="status-form">
			<% form_tag({:action=> "status"}) do %>
				<table>
					<tr><td colspan=3><%= content_tag 'div', h(flash[:status]), :class => 'status_error', :id => 'status_error' if flash[:status] %></td></tr>
					<tr><td colspan=3 class="status_header">Enter your email address to check the current status of your application</td></tr>
					<tr>						
		    			<td align="right"><label for="email">Email:</label></td>
		    			<td class="input"><%= text_field_tag 'email', nil, :size => 33 %></td>
						<td align="left" class="submit"><p><%= submit_tag "Check Status" %></p></td>
					</tr>
				</table>
				<script type="text/javascript">
					//<![CDATA[
					Form.Element.focus('email');
					//]]>
				</script>
			<% end -%>
		</div>

		<div id="images">
			<%= image_tag("library.jpg")%>
			<%= image_tag("sun_god.jpg")%>
			<%= image_tag("shores.jpg")%>
		</div>
	</div>
</div>