<div id="admin_header">
	<h6>
		<% if params[:controller] == "students" && params[:action] == "index" -%>
			<%= link_to "Student Applications", { :controller => "students" }, :class => "active" %>
		<% else -%>
			<%= link_to "Student Applications", { :controller => "students" } %>
		<% end -%>
		 - 
		<% if params[:controller] == "admin" && params[:action] == "report" -%>
			<%= link_to "Create report of all applications and recommendations", { :controller => "admin", :action => "report" }, :class => "active" %>
		<% else -%>
			<%= link_to "Create report of all applications and recommendations", { :controller => "admin", :action => "report" } %>
		<% end -%>
		 - 
		<%= link_to "Logout", :controller => "sessions", :action => "destroy" %>
	</h6>
</div>
<hr />