<div id="admin_header">
	<h6>
		<% if params[:controller] == "admin" && params[:action] == "index" -%>
			<%= link_to "Student Applications", { :controller => "admin" }, :class => "active" %>
		<% else -%>
			<%= link_to "Student Applications", { :controller => "admin" } %>
		<% end -%>
		 - 
		<% if params[:controller] == "admin" && params[:action] == "report" -%>
			<%= link_to "View all applications", { :controller => "admin", :action => "report" }, :class => "active" %>
		<% else -%>
			<%= link_to "View all applications", { :controller => "admin", :action => "report" } %>
		<% end -%>
		 - 
		View student: <%= select_tag "student_select", options_for_student_select(@students, "id", "lastname", "firstname" ) %>
	</h6>
</div>
<hr />

