<div id="admin_header">
	<h6>
		<% if params[:controller] == "admin" && params[:action] == "index" -%>
			<%= link_to "Student Applications", { :controller => "admin" }, :class => "active" %>
		<% else -%>
			<%= link_to "Student Applications", { :controller => "admin" } %>
		<% end -%>
		 - 
		<% if params[:controller] == "admin" && params[:action] == "report" -%>
			<%= link_to "Create report of all applications", { :controller => "admin", :action => "report" } %>
		<% end -%>
		-
		<% if @report -%>
			<%= link_to "Download report", "/public/pdf/complete_report.pdf" %>
		 	-		
		<% end -%>
		View student: <%= select_tag "student_select", options_for_student_select(@students, "id", "lastname", "firstname" ) %>
	</h6>
</div>
<hr />
