<div id="admin_header">
	<h6 class='right'>
		View student: <%= (select_tag "student_select", options_for_student_select(all_students, "id", "lastname", "firstname", all_students.first || nil )) if all_students %>
	</h6>
	<h6>
		<br />
		<br />
		<% if params[:controller] == "admin" && params[:action] == "index" -%>
			<%= link_to "All Applications", { :controller => "admin" }, :class => "active" %>
		<% else -%>
			<%= link_to "All Applications", { :controller => "admin" } %>
		<% end -%>
		 - 
		<% if params[:controller] == "admin" && params[:action] == "incomplete" -%>
			<%= link_to "View incomplete applications", { :controller => "admin", :action => "incomplete" }, :class => "active" %>
		<% else -%>
			<%= link_to "View incomplete applications", { :controller => "admin", :action => "incomplete" } %>
		<% end -%>
		 - 		
		<% if params[:controller] == "admin" && params[:action] == "submitted" -%>
			<%= link_to "View submitted applications", { :controller => "admin", :action => "submitted" }, :class => "active" %>
		<% else -%>
			<%= link_to "View submitted applications", { :controller => "admin", :action => "submitted" } %>
		<% end -%>
		 - 
		<% if params[:controller] == "admin" && params[:action] == "complete" -%>
			<%= link_to "View complete applications", { :controller => "admin", :action => "complete" }, :class => "active" %>
		<% else -%>
			<%= link_to "View complete applications", { :controller => "admin", :action => "complete" } %>
		<% end -%>		
	</h6>
</div>
<hr />

