<div>
	<label>Please List your top 3 preferences for potential faculty projects.</label><%= @spacer %><br />

	1.) <%= e.project1 if e.project1 %> &nbsp;&nbsp;&nbsp;&nbsp; 2.) <%= e.project2 if e.project2 %> &nbsp;&nbsp;&nbsp;&nbsp; 3.) <%= e.project3 if e.project3 %>
</div>
<br style="clear:both;"/>

<div>
	<label>Please list up to five academic awards that you have received (e.g. Award - Date Received [mm/yy])</label><%= @spacer %>

	<%= e.awards.gsub("\n", "<br />") %>
</div>
<br style="clear:both;"/>

<div>
	<label>Please list any laboratory skills</label><%= @spacer %>

	<%= e.lab_skills %>
</div>
<br style="clear:both;"/>

<div>
	<label>Please list any computer skills</label><%= @spacer %>

	<%= e.comp_skills %>
</div>
<br style="clear:both;"/>

<div>
	<label>Do you feel your GPA accurately reflects your academic abilities?  Please comment on why or why not in the space provided</label><%= @spacer %>

	<%= e.gpa_comments %>
</div>
<br style="clear:both;"/>

<div>
	<label>How did you learn about Research Experience for Undergrads (REU)?</label><%= @spacer %>
	<%= e.learn %>
</div>
<br style="clear:both;"/>

<div>
	<label>Please Complete a brief essay (up to 250 words) explaining why you are interested in our program and how the experience may help you achieve your future goals</label><%= @spacer %>
	
	<%= e.personal_statement %>
</div>