<div id="student_application">
	<% if user.completed -%><%= image_tag "complete.gif", :id => "app_status" %><% else -%><%= image_tag "incomplete.gif", :id => "app_status" %><% end -%>
	<h1><%= user.firstname %> <%= user.lastname %></h1>
	<br />
	<h3>Recommendation</h3>
		<p>
			<% if user.recommendation -%>
				From: <%= user.recommendation.recommender.name %>
				<br />
				Title: <%= user.recommendation.recommender.title %>
				<br />
				Department: <%= user.recommendation.recommender.department %>
				<br />
				University: <%= user.recommendation.recommender.college %>
				<br />
				Phone: <%= user.recommendation.recommender.phone %> | Email: <%= user.recommendation.recommender.email %>
				<br />
				How long have you known the applicant? <%= user.recommendation.known_student %>
				<br />
				In what capacity have you known the applicant? <%= user.recommendation.know_capacity %>
				<br />
				Please rate the applicant's overall promise in comparison with other individuals whom you have known at similar stages in their careers: <%= user.recommendation.rating %>
				<br />
				What is the applicant's GPA? <%= user.recommendation.gpa %> <%= user.recommendation.gpa_range %>
				<br />
				Is your institution primarily an undergraduate institution? <%= user.recommendation.undergrad_inst %>
				<br />
				Please comment on the quality of the applicant's previous work, academic abilities, and potential as a researcher. If applicable, please comment on any circumstances that may be helpful in evaluating the applicant's academic performance:
				<br />
				<%= user.recommendation.faculty_comment.gsub("\r\n", "<br /><br />") %>
			<% else -%>
				We have not received a faculty recommendation for this student.
			<% end -%>
		</p>
	<% else -%>

	<h3>Application</h3>

	<h5>Personal Data</h5>
	<p>
		<%= user.firstname %> <%= user.lastname %>
		<br />
		<%= user.street %>
		<br />
		<%= user.city %>, <%= user.state %> <%= user.zip %>
		<br />
		<%= mail_to user.email, user.email  %> | <%= user.phone %>
	</p>

	<h5>Academic Info</h5>
	<% if user.academic_record -%>
		<p>
			<%= user.academic_record.college_level.capitalize %> majoring in <%= user.academic_record.major %> 
			<br />
			Attended <%= user.academic_record.college %> from <%= user.academic_record.college_start %> to <%= user.academic_record.college_end %>
			<br />
			GPA: <%= user.academic_record.gpa %> out of <%= user.academic_record.gpa_range %>
			<br />
			<% if user.transcript -%>
				<%= link_to "Student Transcript", user.transcript.public_filename %>
			<% else -%>
				We have not received this student's transcript.
			<% end -%>
		</p>
	<% else -%>
		<p>We have not received this student's academic information</p>
	<% end -%>
		
	<h5>Awards</h5>
	<% if user.extra -%>
		<p>
			<%= user.extra.awards.gsub("\r\n", "<br />") %>
		</p>

		<h5>Lab Skills</h5>
		<p><%= user.extra.lab_skills.gsub("\r\n", "<br />") %></p>

		<h5>Computer Skills</h5>
		<p><%= user.extra.comp_skills.gsub("\r\n", "<br />") %></p>

		<h5>GPA Comments</h5>
		<p><%= user.extra.gpa_comments.gsub("\r\n", "<br /><br />") %></p>

		<h5>Personal Statement</h5>
		<p><%= user.extra.personal_statement.gsub("\r\n", "<br /><br />") %></p>
	<% else -%>
		<p>We have not received this student's additional information</p>
	<% end -%>
</div>