<div id="student_application">
	<% if user.completed -%><%= image_tag "complete.gif", :id => "app_status" %><% else -%><%= image_tag "incomplete.gif", :id => "app_status" %><% end -%>
	<h1><%= "##{user.id} #{user.firstname} #{user.lastname}"%></h1>
	<br />
	<h3>Recommendation</h3>
	<% if user.recommendation -%>
		<p><b>From:</b> <%= user.recommendation.recommender.name %></p>
		<p><b>Title:</b> <%= user.recommendation.recommender.title %></p>
		<p><b>Department:</b> <%= user.recommendation.recommender.department %></p>
		<p><b>University:</b> <%= user.recommendation.recommender.college %></p>
		<p><b>Phone:</b> <%= user.recommendation.recommender.phone %> | Email: <%= user.recommendation.recommender.email %></p>
		<p><b>How long have you known the applicant?</b> <%= user.recommendation.known_student %></p>
		<p><b>In what capacity have you known the applicant?</b> <%= user.recommendation.know_capacity %></p>
		<p><b>Please rate the applicant's overall promise in comparison with other individuals whom you have known at similar stages in their careers:</b> <%= user.recommendation.rating %></p>
		<p><b>What is the applicant's GPA?</b> <%= user.recommendation.gpa %> <%= user.recommendation.gpa_range %></p>
		<p><b>Is your institution primarily an undergraduate institution?</b> <%= user.recommendation.undergrad_inst %>
		<p><b>Please comment on the quality of the applicant's previous work, academic abilities, and potential as a researcher. If applicable, please comment on any circumstances that may be helpful in evaluating the applicant's academic performance:</b></p>
				<%= textilize user.recommendation.faculty_comment %>
			<% else -%>
				We have not received a faculty recommendation for this student.
			<% end -%>
		</p>
	<% else -%>

	<hr />

	<h3>Application</h3>

	<h5>Personal Data</h5>
	<p>
		<%= user.firstname %> <%= user.lastname %><br />
		<%= user.street %><br />
		<%= user.city %>, <%= user.state %> <%= user.zip %><br />
		<%= mail_to user.email, user.email  %> | <%= user.phone %><br /><br />
		Citizenship: <%= user.citizenship %><br />
		Gender: <%= user.gender %><br />
		Ethnicity: <%= user.ethnicity %><br />
		Race: <%= user.race %><br />
		Disability: <%= user.disability %>
	</p>

	<h5>Academic Info</h5>
	<% if user.academic_record -%>
		<p>
			<%= user.academic_record.college_level.capitalize %> majoring in <%= user.academic_record.major %><br />
			Attended <%= user.academic_record.college %> from <%= user.academic_record.college_start %> to <%= user.academic_record.college_end %><br />
			GPA: <%= user.academic_record.gpa %> out of <%= user.academic_record.gpa_range %><br />
			<% if user.transcript -%>
				<b><%= link_to "Student Transcript", user.transcript.public_filename %></b>
			<% else -%>
				We have not received this student's transcript.
			<% end -%>
		</p>
	<% else -%>
		<p>We have not received this student's academic information</p>
	<% end -%>
		
	<h5>Awards</h5>
	<% if user.extra -%>
		<p>
			<%= user.extra.awards.gsub("\r\n", "<br />") %>
		</p>

		<h5>Lab Skills</h5>
		<p><%= user.extra.lab_skills.gsub("\r\n", "<br />") %></p>

		<h5>Computer Skills</h5>
		<p><%= user.extra.comp_skills.gsub("\r\n", "<br />") %></p>

		<h5>GPA Comments</h5>
		<p><%= user.extra.gpa_comments.gsub("\r\n", "<br /><br />") %></p>

		<h5>Personal Statement</h5>
		<p><%= user.extra.personal_statement.gsub("\r\n", "<br /><br />") %></p>
	<% else -%>
		<p>We have not received this student's additional information</p>
	<% end -%>
	
	<h3 class="center"><%= link_to "Download PDF of Application", "/pdf/#{user.id.to_s}_#{user.lastname}.pdf" if user.completed %></h5>
</div>