<div class='clearfix span-24' id="admin_overview">
	<h2>Application Overview</h2>
	<div class='span-6'><h2 class='info'><%= link_to "#{@total.count}&nbsp;Total", :action => "list" %></h2></div>
	<div class='span-6'><h2 class='info'><%= link_to "#{@incomplete.count}&nbsp;Incomplete", :action => "incomplete" %></h2></div>
	<div class='span-6'><h2 class='info'><%= link_to "#{@submitted.count}&nbsp;Submitted", :action => "submitted" %></h2><p>Awaiting Recommendation</p></div>
	<div class='span-6 last'><h2 class='info'><%= link_to "#{@complete.count}&nbsp;Complete", :action => "complete" %></h2><p>Complete Application w/Recommendation</p></div>
	<br class='clear' />
	<br class='clear' />

	<h2>Application Status</h2>
	<div class='span-6'><h2 class='info'><%= link_to "#{@in_review.count}&nbsp;In&nbsp;Review", :action => "list", :status => 'In Review' %></h2></div>
	<div class='span-6'><h2 class='info'><%= link_to "#{@waitlisted.count}&nbsp;Waitlisted", :action => "list", :status => 'Waitlist' %></h2></div>
	<div class='span-6'><h2 class='info'><%= link_to "#{@withdrawn.count}&nbsp;Withdrawn", :action => "list", :status => 'Withdrawn' %></h2></div>
	<br class='clear' />
	<br class='clear' />
	<div class='span-6'><h2 class='error'><%= link_to "#{@rejected.count}&nbsp;Rejected", :action => "list", :status => 'Reject' %></h2></div>
	<div class='span-6 last'><h2 class='success'><%= link_to "#{@accepted.count}&nbsp;Accepted", :action => "list", :status => 'Accept' %></h2></div>
	<br class='clear' />
	<br class='clear' />
	<h2><%= link_to 'Reset Database', reset_db_path, :class => "reset" %></h2>
</div>