<div class='span-24' id="admin_overview">
	<h2>Application Overview</h2>
	<div class='clearfix success'>
		<h1>
			<%= link_to "#{@total.count} Total", :action => "list" %>
			<%= link_to "#{@submitted.count} Submitted", :action => "submitted" %>
			<%= link_to "#{@incomplete.count} Incomplete", :action => "incomplete" %>
			<%= link_to "#{@complete.count} Complete", :action => "complete" %>
		</h1>
	</div>

	<h2>Application Status</h2>
	<div class='clearfix success'>
		<h1>
			<%= link_to "#{@total.count} Total", :action => "list" %>
			<%= link_to "#{@submitted.count} Submitted", :action => "submitted" %>
			<%= link_to "#{@incomplete.count} Incomplete", :action => "incomplete" %>
			<%= link_to "#{@complete.count} Complete", :action => "complete" %>
		</h1>
	</div>
	
</div>