<div id="single_column">
	<%= render :partial => "layouts/header" %>
	<div id="students">
		<%= render :partial => "admin/admin_header" %>
		<h6 id="admin_links">
			<%= link_to "Application", @student, :class => "active" %>
			&nbsp;-&nbsp;
			<% if @recommendation -%>
				<%= link_to "Recommendation", @recommendation %>
			<% else -%>
				No recommendation has been received
			<% end -%>
			&nbsp;-&nbsp;
			<%= link_to "Download PDF of Application", "http://nsfreu.be.ucsd.edu/pdf/#{@student.id}_#{@student.lastname}.pdf", :target => "_blank" %>
		</h6>
		<div id="student_application">
			<h1>Application for <%= @student.firstname %> <%= @student.lastname %></h1>

			<h5>Personal Data</h5>
			<p>
				<%= @student.firstname %> <%= @student.lastname %>
				<br />
				<%= @student.street %>
				<br />
				<%= @student.city %>, <%= @student.state %> <%= @student.zip %>
				<br />
				<%= mail_to @student.email, @student.email  %> | <%= @student.phone %>
			</p>
		
			<h5>Academic Info</h5>
			<p>
				<%= @student.college_level.capitalize %> majoring in <%= @student.major %> 
				<br />
				Attended <%= @student.college %> from <%= @student.college_start %> to <%= @student.college_end %>
				<br />
				GPA: <%= @student.gpa %> out of <%= @student.gpa_range %>
			</p>
		
			<h5>Awards</h5>
			<p>
				<%= @student.awards.gsub("\r\n", "<br />") %>
			</p>
		
			<h5>Lab Skills</h5>
			<p><%= @student.lab_skills.gsub("\r\n", "<br />") %></p>

			<h5>Computer Skills</h5>
			<p><%= @student.comp_skills.gsub("\r\n", "<br />") %></p>
		
			<h5>GPA Comments</h5>
			<p><%= @student.gpa_comments.gsub("\r\n", "<br />") %></p>
		
			<h5>Personal Statement</h5>
			<p><%= @student.personal_statement.gsub("\r\n", "<br />") %></p>
		</div>
	</div> 
</div>