<%= error_messages_for :academic_record %>
<%= error_messages_for :transcript %>

<div>
	<label>Current College or University</label><br />
	<%= f.text_field 'college' %>
</div>

<hr />

<div>
	<label>Dates of Attendance:</label>
</div>
<div class="span-6">
	<label>From:&nbsp;&nbsp;</label><%= f.date_select 'college_start', :discard_day => true %><br style="clear:both;" />
</div>
<div class="span-6 last">
	<label>To:&nbsp;&nbsp;</label><%= f.date_select 'college_end', :discard_day => true %>
</div>

<hr />

<div id="academicollege_level">
	<label>Current Academic Level:</label><br />
	<%= f.radio_button 'college_level', 'freshman' %><label>Freshman</label>
	&nbsp;&nbsp;
	<%= f.radio_button 'college_level', 'sophomore' %><label>Sophomore</label>
	&nbsp;&nbsp;
	<%= f.radio_button 'college_level', 'junior' %><label>Junior</label>
	&nbsp;&nbsp;
	<%= f.radio_button 'college_level', 'senior' %><label>Senior</label>
</div>

<hr />

<div class="span-6">
	<label>Major/Minor</label><br />
	<%= f.text_field 'major', :size => 18 %>
</div>

<div class="span-4">
	<label>GPA / GPA Scale (e.g. 4.0)</label><br /><%= f.select "gpa", gpa_range %> / <%= f.select "gpa_range", [4.0, 5.0, 10.0] %>
</div>

<hr />

<% if current_user.transcript && current_user.transcript.content_type == "application/pdf" || current_user.transcript && current_user.transcript.content_type == "application/octet-stream" -%>
	<div>
		<label>
			We have received your transcript named "<%= h(current_user.transcript.filename) %>" on <%= h(current_user.transcript.created_at)%><br />
			Click below to upload a new transcript:
		</label>
		<%= file_field_tag :transcript_file %>
	</div>
<% else -%>
	<div>
		<label>Please upload a PDF of your most recent (unofficial is ok) transcript:</label>
		<%= file_field_tag :transcript_file %>
	</div>
<% end -%>

<hr />

<div>
	<label>Did you attend another college or university previously?</label>
	<% if current_user.academic_record && current_user.academic_record.p_college != "" %>
		<%= select_tag 'p_college', options_for_select(%w{No Yes}, "Yes") %>
	<% else -%>
		<%= select_tag 'p_college', options_for_select(%w{No Yes}, "No") %>
	<% end -%>
</div>

<% if current_user.academic_record && current_user.academic_record.p_college != "" %>
	<div id="pcollege">
<% else -%>
	<div id="pcollege" style="display:none;">
<% end -%>
	<div>
		<label>Please enter information about the previous college or university</label>
	</div>
	<div>
		<label>Previous College or University</label><br />
		<%= f.text_field 'p_college' %>
	</div>
	<br style="clear:both;" />
	<div>
		<label>Dates of Attendance (MM/YY)</label><br style="clear:both;" />
	</div>
	<br style="clear:both;" />
	<div>
		<label>From:</label><%= f.text_field 'p_college_start' %><br style="clear:both;" />
	</div>
	<div>
		<label>To:</label><%= f.text_field 'p_college_end' %>
	</div>	
</div>
