<div class="fieldbox float">
	<label>Current College or University</label><br />
	<%= f.text_field 'college' %>
</div>

<br style="clear:both;" />
<div class="fieldbox float">
	<label>Dates of Attendance (MM/YY)</label>
</div>
<br style="clear:both;" />
<div class="fieldbox float">
	<label>From:</label><br /><%= f.text_field 'college_start' %><br style="clear:both;" />
</div>
<div class="fieldbox float">
	<label>To:</label><br /><%= f.text_field 'college_end' %>
</div>
<div class="fieldbox small" id="academicollege_level">
	<label>Current Academic Level:</label>
	<%= f.radio_button 'college_level', 'freshman' %><label>Freshman</label>
	&nbsp;&nbsp;
	<%= f.radio_button 'college_level', 'sophomore' %><label>Sophomore</label>
	&nbsp;&nbsp;
	<%= f.radio_button 'college_level', 'junior' %><label>Junior</label>
	&nbsp;&nbsp;
	<%= f.radio_button 'college_level', 'senior' %><label>Senior</label>
</div>
<div class="fieldbox clear">
	<label>Major/Minor</label><br />
	<%= f.text_field 'major' %>
</div>
<div class="fieldbox float">
	<label>GPA / GPA Scale (e.g. 4.0)</label><br /><%= f.text_field 'gpa' %> / <%= f.text_field 'gpa_range' %>
</div>

<% if current_user.transcript -%>
	<div class="fieldbox float">
		<label>
			We have received your transcript named "<%= h(current_user.transcript.filename) %>" on <%= h(current_user.transcript.created_at)%><br />
			Click here to upload a new transcript.
		</label>
		<%= file_field_tag :transcript_file %>
	</div>
<% else -%>
	<div class="fieldbox float">
		<label>Please upload a PDF of your most recent transcript:</label>
		<%= file_field_tag :transcript_file %>
	</div>
<% end -%>
<div class="fieldbox">
	<label>Did you attend another college or university previously?</label>
	<%= select_tag 'prev_college', options_for_select(%w{No Yes}) %>
</div>
<div id="pcollege" style="display:none;">
	<div class="fieldbox">
		<label>Please enter information about the previous college or university</label>
	</div>
	<div class="fieldbox float">
		<label>Previous College or University</label><br />
		<%= f.text_field 'p_college' %>
	</div>
	<div class="fieldbox float">
		<label>Dates of Attendance (MM/YY)</label><br style="clear:both;" />
		<label>From:</label><%= f.text_field 'pcollege_start' %><br style="clear:both;" />
		<label>To:</label><%= f.text_field 'pcollege_end' %>
	</div>
	
</div>
