<div id="single_column">
	<%= render :partial => "layouts/header" %>
	<h2>Summer 2008 Online Application</h2>

	<div id="application">
			<%= render :partial => "layouts/app_navbar" %>
			<h1 id="flash"><%= flash[:notice] %></h1>
			
			<%= error_messages_for :academic_record %>
			<% form_for(@academic_record, :url => {:action => "update"}, :method => "put", :html => { :multipart => true }) do |f| %>
			<fieldset id="personal_data">
				<%= render :partial => 'academic_information', :locals => { :f => f } %>
			</fieldset>
			<%= f.submit "Update Academic Data" %>

		<% end %>
	</div>
</div>

<div id="observers">
	<%= render :partial => "layouts/observers" %>
</div>