<%= error_messages_for :user %>

<div class="span-4">
	<label>Firstname</label><br />
	<%= f.text_field 'firstname', :size => 10 %>
</div>
<div class="span-4">
	<label>Middlename</label><br />
	<%= f.text_field 'middlename', :size => 10 %>
</div>
<div class="span-4">
	<label>Lastname</label><br />
	<%= f.text_field 'lastname', :size => 10 %>
</div>
<div class="clear">
	<label>Date of Birth</label><br />
	<%= f.date_select "dob", :start_year => 1970, :end_year => 1994 %>
</div>

<hr />

<div class="span-6">
	<label>Phone</label><br />
	<%= f.text_field 'phone', :size => 16 %>
</div>
<div class="span-6">
	<label>Email</label><br />
	<%= f.text_field 'email', :size => 19 %>
</div>
<div class="clear">
	<label>Street&nbsp;Address</label><br />
	<%= f.text_field 'street', :size => 40 %>
</div>
<div class="span-5">
	<label>City</label><br />
	<%= f.text_field 'city', :size => 14 %>
</div>
<div class="span-4">
	<label>State</label><br />
	<%= f.state_select 'state', :selected => "California" %>
</div>
<div class="span-3">
	<label>Zip</label><br />
	<%= f.text_field 'zip', :size => 5 %>
</div>


<hr />

<div  id="perm_bool">
	<p><label>Is the above address your permanent residence?</label>
	&nbsp;
	<% if @user && @user.pstreet && @user.pstreet != ""  -%>
		<%= radio_button_tag 'paddress', 'yes'%><label>Yes</label>
		&nbsp;&nbsp;
		<%= radio_button_tag 'paddress', 'no', true %><label>No</label>
	<% else -%>
		<%= radio_button_tag 'paddress', 'yes', true %><label>Yes</label>
		&nbsp;&nbsp;
		<%= radio_button_tag 'paddress', 'no', false %><label>No</label>	
	<% end -%>
	</p>
</div>

<% if @user && @user.pstreet && @user.pstreet != ""  -%>
	<div id="presidence">
<% else -%>
	<div id="presidence" style="display:none;">
<% end -%>
	<div>
		<label>Please add your permanent residence:</label>
	</div>
	<div class="clear">
		<label>Street&nbsp;Address</label><br />
		<%= f.text_field 'pstreet', :size => 40 %>
	</div>
	<div class="span-5">
		<label>City</label><br />
		<%= f.text_field 'pcity', :size => 14 %>
	</div>
	<div class="span-4">
		<label>State</label><br />
		<%= f.state_select 'pstate', :selected => "California" if @user && @user.pstreet != "" %>
	</div>
	<div class="span-3">
		<label>Zip</label><br />
		<%= f.text_field 'pzip', :size => 5 %>
	</div>
</div>

<hr />

<div>
	<label>Citizenship</label><br />
	<%= f.select 'citizenship', %w{United\ States U.S.\ Permanent\ Resident Other} %>
	<div class="clear" id="cor" style="display:none;">
		<label>Country of Residence</label>
		<%= f.text_field 'cresidence' %>
	</div>
</div>

<hr />

<div>
	<label>Race:</label><br />
	<%= f.select 'race', %w{ Prefer\ not\ to\ respond American\ Indian\ or\ Alaskan\ Native Asian Black\ or\ African\ American Native\ Hawaiian\ or\ Pacific\ Islander White} %>
</div>
<div>
	<label>Disability:</label><br />
	<%= select_tag 'disability', options_for_select(%w{ Prefer\ not\ to\ respond No Yes },disability_selection) %><br />
	<span class="hidden" id="dis" style="display:none;">
		<label>Specify:</label>
		<%= f.text_field 'disability' %>
	</span>
</div>
<div class="span-6">
	<label>Gender:</label><br />
	<%= f.select 'gender', %w{ Prefer\ not\ to\ respond Female Male} %>
</div>
<div class="span-6 last">
	<label>Ethnicity</label><br />
	<%= f.select 'ethnicity', %w{ Prefer\ not\ to\ respond Hispanic\ or\ Latino Not\ Hispanic\ or\ Latino} %>
</div>

<hr />

<div id="password">
	
</div>
<div class="span-6">
	<label>Password:</label><br />
	<%= f.password_field 'password', :size => 14 %><br />
	<small>Please use more than 8 characters</small>
</div>

<div class="span-6 last">
	<label>Password Confirmation:</label><br />
	<%= f.password_field 'password_confirmation', :size => 14 %>
</div>

<hr />