<div class="span-4">
	<label>University</label><br />
	<%= h(f.college) %>
</div>

<div class="span-4">
	<label>Dates of Attendance</label>
	<%= h(f.college_start.strftime("%Y.%m")) %>&nbsp;-&nbsp;
	<%= h(f.college_end.strftime("%Y.%m")) %>
</div>

<div class="span-5 last">
	<label>Current Academic Level:</label>
	<%= h(f.college_level) %>
</div>

<hr class="space" />

<div class="span-4">
	<label>Major/Minor</label><br />
	<%= h(f.major) %>
</div>

<div class="span-4">
	<label>GPA</label><br />
	<%= h(f.gpa) %> / <%= h(f.gpa_range) %>
</div>

<div class="span-4">
	<label>Transcript</label><br />
	<%= link_to @user.transcript.filename, @user.transcript.public_filename.gsub("transcripts","nsfreu/transcripts") %>
</div>

<hr class="space" />

<% if f.p_college != "" || nil -%>
	<div class="span-4">
		<label>Previous University</label><br />
		<%= h(f.p_college) %>
	</div>

	<div class="span-4">
		<label>Dates of Attendance</label><br />
		<%= h(f.p_college_start.strftime("%Y.%m")) %>&nbsp;-&nbsp;
		<%= h(f.p_college_end.strftime("%Y.%m")) %>
	</div>

	<div class="span-4">

	</div>
<hr class="space" />
<% end -%>
<small class="right">Last Updated: <%= f.updated_at.strftime("%Y.%m.%d - %I:%M %p") %></small>