<div><label>Please supply the name and contact information of a faculty member who has agreed to write a letter of recommendation in support of your application. Instructions for submitting the letter will be sent directly to the faculty member</label></div>
<div class="fieldbox float">
	<label>Name</label><br />
	<%= h(r.name) %>
</div>
<div class="fieldbox float">
	<label>Title</label><br />
	<%= h(r.title) %>
</div>
<div class="fieldbox float">
	<label>Department</label><br />
	<%= h(r.department) %>
</div>
<div>
	<label>College or University</label><br />
	<%= h(r.college) %>
</div>
<div class="fieldbox float">
	<label>Phone</label><br />
	<%= h(r.phone) %>
</div>
<div class="fieldbox float">
	<label>Email</label><br />
	<%= h(r.email) %>
</div>