<div>
	<label>Please list up to five academic awards that you have received:</label><br />
	<label>(e.g. Award - Date Received [mm/yy])</label><br />
	<%= textilize(e.awards) %>
</div>
<br style="clear:both;"/>
<div>
	<label>Please list any laboratory skills:</label><br />
	<%= textilize(e.lab_skills) %>
</div>
<div>
	<label>Please list any computer skills:</label><br />
	<%= textilize(e.comp_skills) %>
</div>
<br style="clear:both;"/>
<div>
	<label>Do you feel your GPA accurately reflects your academic abilities?</label><br />
	<label>Please comment on why or why not in the space provided:</label><br style="clear:both;"/>
	<%= textilize(e.gpa_comments) %>
</div>
<br style="clear:both;"/>
<div>
	<label>How did you learn about Research Experience for Undergrads (REU)?</label><br />
	<%= textilize(e.learn) %>
</div>
<br style="clear:both;"/>
<div>
	<label>Please Complete a brief essay (up to 250 words) explaining why you are interested in our program and how the experience may help you achieve your future goals:</label>
	<%= textilize(e.personal_statement) %>
</div>