<div id="residence">
	<div class="fieldbox float">
		<label>Firstname</label><br />
		<%= h(f.firstname) %>
	</div>
	<div class="fieldbox float">
		<label>Middlename</label><br />
		<%= h(f.middlename) %>
	</div>
	<div class="fieldbox float">
		<label>Lastname</label><br />
		<%= h(f.lastname) %>
	</div>
	<div class="clear">
		<label>Date of Birth</label><br />
		<%= h(f.dob) %>
	</div>
	<div class="clear">
		<label>Street&nbsp;Address</label><br />
		<%= h(f.street) %>
	</div>
	<div class="fieldbox float">
		<label>City</label><br />
		<%= h(f.city) %>
	</div>
	<div class="fieldbox float">
		<label>State</label><br />
		<%= h(f.state) %>
	</div>
	<div class="fieldbox float">
		<label>Zip</label><br />
		<%= h(f.zip) %>
	</div>
	<div class="fieldbox float">
		<label>Phone</label><br />
		<%= h(f.phone) %>
	</div>
	<div class="fieldbox float">
		<label>Email</label><br />
		<%= h(f.email) %>
	</div>
	<br style="clear:both;" />
</div>
<div id="presidence" style="display:none;">
	<div class="clear">
		<label>Permanent residence:</label>
	</div>
	<div class="fieldbox clear">
		<label>Street&nbsp;Address</label><br />
		<%= h(f.pstreet) %>
	</div>
	<div class="fieldbox float">
		<label>City</label><br />
		<%= h(f.pcity) %>
	</div>
	<div class="fieldbox float">
		<label>State</label><br />
		<%= h(f.pstate) %>
	</div>
	<div class="fieldbox float">
		<label>Zip</label><br />
		<%= h(f.pzip) %>
	</div>
	<div class="fieldbox float">
		<label>Phone</label><br />
		<%= h(f.pphone) %>
	</div>
</div>
<div class="fieldbox clear">
	<label>Citizenship:</label>
	<%= h(f.citizenship) %>
	<span class="hidden" id="cor" style="display:none;">
		<label>Country of Residence:</label>
		<%= h(f.cresidence) %>
	</span>
</div>
<div class="fieldbox clear">
	<label>Gender*:</label>
	<%= h(f.gender) %>
</div>
<div class="fieldbox clear">
	<label>Ethnicity*:</label>
	<%= h(f.ethnicity) %>
</div>
<div class="fieldbox clear">
	<label>Race*:</label>
	<%= h(f.race) %>
</div>
<div class="fieldbox clear">
	<label>Disability*:</label>
	<%= h(f.disability) %>
</div>