<%= render :partial => "layouts/header_text" %>
<%= render :partial => "layouts/app_navbar" %>

<% form_for(@user) do |f| %>
	<%= render :partial => 'personal_data', :locals => { :f => f } %>
	<p id="submit"><%= f.submit "Update", :onclick => "$('submit').hide();$('overlay').show();$('opaque_overlay').show();$('wait_box').show();" %></p>	
<% end %>
<div id="observers">
	<%= render :partial => "layouts/observers" %>
</div>