<div id="single_column">
	<%= render :partial => "layouts/header" %>

	<div id="students">
		<%= render :partial => "admin/admin_header" %>
		<h1>Listing Students Applicants</h1>
		<table cellspacing="0">
			<tr>
				<th>#</th>
				<th class="name"><%= link_to "Name", { :controller => "students", :sort => "name" } %></th>
				<th class="college"><%= link_to "College / University", { :controller => "students", :sort => "college" } %></th>
				<th class="major"><%= link_to "Major", { :controller => "students", :sort => "major" } %></th>
				<th class="gpa"><%= link_to "GPA", { :controller => "students", :sort => "gpa" } %></th>
				<th class="date"><%= link_to "Apply Date", { :controller => "students", :sort => "date" } %></th>
				<th class="rec">Received Recommendation</th>
			</tr>
			<% @n = 0 %>
		  	<% for student in @students %>
		  		<tr style="background-color:#<%= cycle("ddd","bbb") %>;">
					<td><% @n += 1 %><%= (@n).to_s %></td>
					<td class="name"><%= link_to "#{student.firstname} #{student.lastname}", student %></td>
					<td class="college"><%= link_to "#{student.college}", student %></td>
					<td class="major"><%= link_to "#{student.major}", student %></td>
		   			<td class="gpa"><%= link_to "#{student.gpa[0..2]} / #{student.gpa_range[0..2]}", student %></td>
		   			<td class="date"><%= link_to "#{student.created_at.strftime("%b %d [%H:%M %Z]")}", student %></td>
					<td class="rec">
						<% if student.recommendation -%>
							<%= link_to "Yes", student.recommendation %>
						<% else -%>
							<%= link_to "No", "" %>
						<% end -%>
					</td>
				</tr>
			<% end %>
		</table>
	</div> 
</div>