<div id="single_column">
	<%= render :partial => "layouts/header" %>
	<h2>Summer 2008 Online Application</h2>
	<div id="about">
		<h5>Submission Deadline:&nbsp;<span class="blood_red">February 20, 2009</span></h5>
		<h5 id="eligibilty">Eligibility:</h5>
		<ul class="bold blood_red">
			<li>You must be a current, full-time undergraduate student</li>
			<li>You must not plan to graduate before fall</li>
			<li>You must be a U.S. citizen or permanent resident</li>
		</ul>	
	</div>
	<div id="application">
			
			<h4>Registration</h4>
			<%= content_tag 'div', h(flash[:notice]), :class => 'notice', :id => 'notice' if flash[:notice] %> 
			<%= content_tag 'div', h(flash[:error]), :class => 'notice error', :id => 'error' if flash[:error] %>
			<% @user.password = @user.password_confirmation = nil %>

			<%= error_messages_for :user %>
			<% form_for :user, :url => users_path do |f| -%>

			<fieldset id="personal_data">
				<%= render :partial => 'personal_data', :locals => { :f => f } %>		
			</fieldset>
			
			<p id="submit"><%= submit_tag 'Sign up', :onclick => "$('submit').hide();alert('Please wait up to 30 seconds for the server to process your request.');" %></p>
			
			<% end -%>
	</div>
</div>
<div id="observers">
	<%= render :partial => "layouts/observers" %>
</div>