<div id="sidebar">
	<%= render :partial => "application/sidebar" %>
</div>

<div id="content">
	<div id="header">
		<%= link_to image_tag("ucsd_logo.gif"), "http://ucsd.edu", :target => "_blank" %>
		<h5>Research Experience for Undergraduates (REU) in Regenerative Medicine, Multi-Scale Bioengineering, &amp; Systems Biology</h5>
		<%= link_to image_tag("nsf_logo.gif"), "http://nsf.gov", :target => "_blank" %>
		<h6>University of California, San Diego</h6>
		<h6>Department of Bioengineering</h6>
	</div>
	<div id="about">
		<h2>Enter New User Information</h2>
		<%= error_messages_for :user %>
		<% form_for :user, :url => users_path do |f| -%>
		<p><label for="login">Login</label><br/>
		<%= f.text_field :login %></p>

		<p><label for="email">Email</label><br/>
		<%= f.text_field :email %></p>

		<p><label for="password">Password</label><br/>
		<%= f.password_field :password %></p>

		<p><label for="password_confirmation">Confirm Password</label><br/>
		<%= f.password_field :password_confirmation %></p>

		<p><%= submit_tag 'Sign up' %></p>
		<% end -%>
	</div>
</div>