<div id="single_column">
	<%= render :partial => "layouts/header" %>
	<div id="application">
		
		<h4><%= link_to_unless_current "Application Status", "/status" %> | <%= link_to_unless_current "Resend Recommendation Request", "/resend_request" %></h4>
		
		<p>Your application was successfully submitted on <%= current_user.submit_date("%B %d [%H:%M %Z]") %>.</p>
		
		<% if current_user.recommendation -%>
			<p>Your recommendation was successfully submitted by <%= current_user.recommender.name %> on <%= current_user.recommendation.created_at.strftime("%B %d [%H:%M %Z]") %>.</p>
		<% else -%>
			<p>We have not received a recommendation yet. This request was previously sent on <%= current_user.rec_request.strftime("%B %d [%H:%M %Z]") %> to <%= current_user.recommender.name %> at <%= current_user.recommender.email %>.</p>
			<p>Click <%= link_to "HERE", { :controller => "users", :action => "resend_request" }, :confirm => "You are about to resend your recommendation request. This request was previously sent on #{ current_user.rec_request.strftime("%B %d [%H:%M %Z]") }." %> to resend your request.</p>
		<% end -%>
	</div>
</div>
