<div id="single_column">
	<%= render :partial => "layouts/header" %>

	<h2>Summer 2009 Online Application</h2>
	<div id="about">
		<h5>Submission Deadline:&nbsp;<span class="blood_red">February 20, 2009</span></h5>
	</div>
	
	<br />
	
	<h1>Please verify your application data</h1>
	<div id="application">			
		<%= content_tag 'div', h(flash[:notice]), :class => 'notice', :id => 'notice' if flash[:notice] %> 
		<%= content_tag 'div', h(flash[:error]), :class => 'notice error', :id => 'error' if flash[:error] %>
		<fieldset id="personal_data">
			<h4><%= link_to_unless_current "Personal Data", { :controller => "users", :action => "edit" }%></h4>
			<%= render :partial => 'show_personal_data', :locals => { :f => current_user } %>
		</fieldset>
		<fieldset id="academic_record">
			<h4><%= link_to_unless_current "Academic Information", { :controller => "academic_records" } %></h4>
			<%= render :partial => 'show_academic_record', :locals => { :f => current_user.academic_record } %>
		</fieldset>
		<fieldset id="recommender">
			<h4><%= link_to_unless_current "Faculty Recommendation", { :controller => "recommenders " } %></h4>
			<%= render :partial => 'show_recommender', :locals => { :r => current_user.recommender } %>
		</fieldset>
		<fieldset id="extra">
			<h4><%= link_to_unless_current "Additional Information", { :controller => "extras " } %></h4>
			<%= render :partial => 'show_extra', :locals => { :e => current_user.extra } %>
		</fieldset>		
	</div>
	<h1><%= link_to "Submit Application", { :action => "submit"}, :method => "post", :onclick => "$('app_submit').hide();alert('Please wait up to 30 seconds for the server to process your request.');", :id => "app_submit" %></h1>
</div>