<div id="welcome">
	<%= render :partial => "layouts/header_text" %>
	
	<br class='clear'/>

	<div class="span-14" id="image">
		<%= image_tag("surf.jpg", :width => 520)%>
	</div>
	<div class="span-10 last" id="general">
        <%= textilize Setting.general_description %>

        <p>Please see the <%= link_to "2012 Flyer", "/REU-SURF-2012.pdf", :class => "ss_sprite ss_page_white_acrobat" %> for more information.</p>	
	</div>

	<br class='clear'/>
	
	<div class="span-8">
    <%= textilize Setting.highlights %>
	</div>
	<div class="span-6">
    <%= textilize Setting.eligibility_requirements %>
	</div>
	<div class="span-10 last">
    <%= textilize Setting.application_information %>
	</div>
	
	<br class='clear'/>
	<% if app_in_progress? -%>
	  <% if current_user %>
    	<h3 class='clear center red'>Application Deadline <%= Setting.application_deadline.to_date.strftime("%B %d, %Y") %></h3>
	    <h1 class="padded center clears"><b><%= link_to "Application Status", { :controller => 'users', :action => 'status' }, :class => "bordered colored rounded", :id => "apply_now" %></b></h1>
	  <% else -%>
    	<h3 class='clear center red'>Application Deadline <%= Setting.application_deadline.to_date.strftime("%B %d, %Y") %></h3>
    	<h1 class="padded center clear"><b><%= link_to "Apply Now", { :controller => 'users', :action => 'new' }, :class => "bordered colored rounded", :id => "apply_now" %></b></h1>
    <% end -%>
	<% else -%>
  	<h1 class="padded center clears"><b><%= link_to "Application Status", { :controller => 'users', :action => 'status' }, :class => "bordered colored rounded", :id => "apply_now" %></b></h1>
  	<h3 class='clear'><b>Please check back in <%= Setting.check_back_date.to_date.strftime("%B") %> for Summer <%= Setting.check_back_date.to_date.year %> Information</b></h3>
	<% end -%>
	
</div>
