<fieldset>
  <div class="row">

    <div class="span4">
      <div class="inner">
        <%= f.text_field :title, :placeholder => :Title %>
      </div>
    </div>
  
    <div class="span4 offset1">
      <div class="inner">
        <%= f.text_field :date, 'data-behaviour' => 'datepicker', :placeholder => "Date" %>
      </div>
    </div>
    
    <div class="span9">
      <div class="inner">
        <%= f.text_area :description, :class => 'span8', :rows => 2, :placeholder => "Award Description (Optional)" %>
      </div>
    </div>

    <div class="span9">
      <div class="inner">
        <%= f.hidden_field :_destroy %>
        <%= link_to "remove this record", '#', class: "remove_fields btn btn-mini btn-danger" %>    
      </div>
    </div>
    
    <hr class="inner clear" />
    
  </div>
</fieldset>