<fieldset>
  <div class="inner">
    <legend>Record Entry</legend>
  </div>
  <div class="row">

    <div class="span4">
      <div class="inner">
        <%= f.text_field :university, :placeholder => :University %>
      </div>
    </div>

    <div class="span4 offset1">
      <div class="inner">
        <%= f.text_field :degree, :placeholder => :Degree %>
      </div>
    </div>


    <div class="span4">
      <div class="inner">
        <%= f.text_field :start, 'data-behaviour' => 'datepicker', :placeholder => 'Start (YYYY-MM-DD)' %>
      </div>
    </div>

    <div class="span4 offset1">
      <div class="inner">
        <%= f.text_field :finish, 'data-behaviour' => 'datepicker', :placeholder => 'Finish or Expected Finish (YYYY-MM-DD)' %>
      </div>
    </div>

    <div class="span4">
      <div class="inner control-group">
        <%= f.select :gpa, gpa_range, {:include_blank => 'GPA'}, {:class => :span1} %> out of
        <%= f.select :gpa_range, [4.0, 5.0, 10.0], {:include_blank => 'GPA Range'}, {:class => :span2} %>
      </div>
    </div>

    <div class="span4 offset1">
      <div class="inner">
        <%= f.label :transcript %>
        <p>Attach a PDF or image of your transcript.</p>
        <%= f.file_field :transcript %>
        <%= content_tag :p, raw("Current attachment: #{link_to current_applicant.records.find_by_applicant_id(current_applicant).transcript_file_name, current_applicant.records.find_by_applicant_id(current_applicant).transcript.url}") unless f.object.new_record?  %>
      </div>
    </div>

    <div class="span9">
      <div class="inner">
        <%= f.hidden_field :_destroy %>
        <%= link_to "remove this record", '#', class: "remove_fields btn btn-mini btn-danger" %>
      </div>
    </div>


  </div>

  <hr class="inner clear" />

</fieldset>