<% form_tag({:action => 'edit'}) do %>
	<h2>Settings</h2>
	<p><small>The settings below are used as variables throughout the site. The descriptions below are for the default locations.  You may change the location of these variables through the site's template files by adding/removing markup in the following format:<br /> &lt;%= Setting.setting_name %> &nbsp;&nbsp;&nbsp;(e.g. &lt;%= Setting.application_deadline %> ).</small>
	<div>
		<p><%= setting_text_field :app_title, :label => "Application Title", :description => "This text will appear in the Page Title and in the Header" %></p>
		<p><%= setting_text_field :domain, :description => "This is used to create the links used in email confirmations.  This needs to be the same as the website (e.g. nsfreu.be.ucsd.edu or be.ucsd.edu/nsfreu)" %></p>
		<p><%= setting_text_field :university, :description => "This is used in the header and footer, by default, along with the department value below." %></p>
		<p><%= setting_text_field :department, :description => "Similar to the above, this is used throughout the site to personalize your site." %></p>
		<p><%= setting_datetime_select :application_start, :description => "This value is used to set an 'opening date' for the application system. After this date, students can apply. This also controls what buttons are displayed in the navbar and on the homepage (e.g. Apply Now and Login)" %></p>
		<p><%= setting_datetime_select :application_deadline, :description => "This value is used to set a date for when applications can no longer be created or updated. Similar to the above value, buttons to apply are removed after this date." %></p>
		<p><%= setting_date_select :program_start_date, :description => "This date is used in the header and confirmation emails to set when the NSFREU program begins." %></p>
		<p><%= setting_date_select :program_end_date, :description => "Similar to the above value, this marks the end date for your NSFREU program." %></p>
		<p><%= setting_date_select :check_back_date, :description => "Once the application process is closed (after the application deadline), this value will inform students when to check back for information about next year's application." %></p>
		<p><%= setting_text_field :mail_from, :description => "This will be used in the reply-to value for emails sent from the application. This is also used in the footer as the email to contact for questions or comments about the website." %></p>
		<p><%= setting_text_field :password_min_length, :description => "This sets the minimum length of the user password. A number larger than 7 is suggested." %></p>
		<p><%= setting_text_field :attachment_max_size, :label => "Attachment Max Size (in KB)", :description => "This sets the maximum attachment size for file uploads. You may have trouble if you set this above 20MB in value.  By default this is set to 10 MB." %></p>
		<p><%= setting_text_area :general_description, :description => "This is the text used as a 'general description' for your program.  It is displayed on the front page under the main image." %></p>
		<p><%= setting_text_area :highlights, :description => "" %></p>
		<p><%= setting_text_area :eligibility_requirements, :description => "" %></p>
		<p><%= setting_text_area :application_information, :description => "" %></p>
	</div>
	
	<%= submit_tag ('Save') %>
<% end -%>