<p id="notice"><%= notice %></p>

<p>
  <strong>Admin1 email:</strong>
  <%= @admin_account.admin1_email %>
</p>

<p>
  <strong>Admin1 pwd:</strong>
  <%= @admin_account.admin1_pwd %>
</p>

<p>
  <strong>Admin2 email:</strong>
  <%= @admin_account.admin2_email %>
</p>

<p>
  <strong>Admin2 pwd:</strong>
  <%= @admin_account.admin2_pwd %>
</p>

<p>
  <strong>Admin3 email:</strong>
  <%= @admin_account.admin3_email %>
</p>

<p>
  <strong>Admin3 pwd:</strong>
  <%= @admin_account.admin3_pwd %>
</p>

<p>
  <strong>Admin4 email:</strong>
  <%= @admin_account.admin4_email %>
</p>

<p>
  <strong>Admin4 pwd:</strong>
  <%= @admin_account.admin4_pwd %>
</p>

<p>
  <strong>Admin5 email:</strong>
  <%= @admin_account.admin5_email %>
</p>

<p>
  <strong>Admin5 pwd:</strong>
  <%= @admin_account.admin5_pwd %>
</p>

<p>
  <strong>Grant:</strong>
  <%= @admin_account.grant %>
</p>

<%= link_to 'Edit', edit_admin_account_path(@admin_account) %> |
<%= link_to 'Back', admin_accounts_path %>
