<%= form_for(@grant) do |f| %>
  <% if @grant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grant.errors.count, "error") %> prohibited this grant from being saved:</h2>

      <ul>
      <% @grant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :grant_name %><br>
    <%= f.text_field :program_title %>
  </div>
    <div class="field">
    <%= f.label :subdomain %><br>
    <%= f.text_field :subdomain %>
  </div>
  <div class="field">
    <%= f.label :contact_email %><br>
    <%= f.email_field :contact_email %>
  </div>
  <div class="field">
    <%= f.label :contact_password %><br>
    <%= f.password_field :contact_password %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
