<p id="notice"><%= notice %></p>

<p>
  <strong>Grant Name:</strong>
  <%= @grant.program_title %>
</p>
<p>
  <strong>Subdomain:</strong>
  <%= @grant.subdomain %>
</p>
<p>
  <strong>Contact Email:</strong>
  <%= @grant.contact_email %>
</p>






<%= link_to 'Edit', edit_grant_path(@grant) %> |
<%= link_to 'Back', grants_path %>
