<%= error_messages_for :recommender %>

<p>Please supply the name and contact information of two faculty members who have agreed to write a letter of recommendation in support of your application.</p>
<p>The recommender should not be a relative or tutor, but someone who has witnessed your work performing research and can speak to those skills. Instructions for submitting the letter will be sent directly to the faculty member via email after your complete the application.</p>

<%= r.hidden_field :primary, :value => @recommender.primary %>

<div class="fieldbox float">
	<label>Recommender Name</label><br />
	<%= r.text_field 'name' %>
</div>
<div class="fieldbox float">
	<label>Title</label><br />
	<%= r.text_field 'title' %>
</div>
<div class="fieldbox float">
	<label>Department</label><br />
	<%= r.text_field 'department' %>
</div>
<div>
	<label>College or University</label><br />
	<%= r.text_field 'college' %>
</div>
<div class="fieldbox float">
	<label>Phone</label><br />
	<%= r.text_field 'phone' %>
</div>
<div class="fieldbox float">
	<label>Email</label><br />
	<%= r.text_field 'email' %>
</div>
