<div class="container">
  <div class="inner">  
    <p>
      <%= link_to "Home",  '' %>
      <span class="divider">/</span>
      <%= link_to "Tour",  '' %>
      <span class="divider">/</span>
      <%= link_to "Pricing & Signup",  '' %>
      <span class="divider">/</span>
      <%= link_to "Try REU Manager for Free",  '' %>
      <span class="divider">/</span>
      <%= link_to "Support",  '' %>
      <br />
      <%= t('.copyright', :year => Time.now.year, :site_name => Refinery::Core.site_name) %>
    </p>

  </div>  
</div>
