<div>
	<label>Please explain why you consider yourself eligible for this program as an individual from a group that is disadvantaged and/or underrepresented in the field of biomedical research.</label><br />
</div>
<%= e.text_area 'personal_statement', :class => "extra" %>

<div>
	<label>Discuss your past research experiences. If you have not done any research yet, please list any relevant courses or other experiences you feel are relevant.</label>
</div>
<%= e.text_area 'lab_skills', :class => "extra" %> 

<div>
	<label>Please list any laboratory or computer skills you currently possess.  Which existing skills would you like to improve, or new skills would you like to develop?</label>
</div>
<%= e.text_area 'comp_skills', :class => "extra" %>

<div>
	<label>What areas of research are you interested in? *Please note, SURF focuses on research areas in cardiovascular, lung and blood disease. Areas such as cancer biology and neuroscience would be outside the scope of our program.  Please see the <%= link_to 'program website', 'http://mstp.ucsd.edu/surf/Pages/default.aspx' %> for information on factulty researchers involved with this program.</label>
</div>
<%= e.text_area 'research_interests', :class => "extra" %>

<div>
	<label>Do you feel that your academic record accurately reflects your abilities as a student?  Please explain.</label><br />
</div>
<%= e.text_area 'gpa_comments', :class => "extra" %>

<div>
	<label>Briefly discuss your educational and career plans and how this program will advance you towards your goals.</label>
</div>
<%= e.text_area 'career', :class => "extra" %>

<div>
	<label>Please add any additional information that may help us evaluate your application.</label><br />
</div>
<%= e.text_area 'additional_info', :class => "extra" %>


<div id="learn">
	<label>How did you learn about Research Experience for Undergraduates (REU)?</label><br />
	<%= e.radio_button 'learn', 'NSF REU Website', :onclick => "$('learn_more').hide();" %><label>NSF REU Website</label>&nbsp;&nbsp;&nbsp;
	<%= e.radio_button 'learn', 'Professor', :onclick => "$('learn_more').hide();" %><label>Professor</label>&nbsp;&nbsp;&nbsp;
	<%= e.radio_button 'learn', 'Undergraduate program', :onclick => "$('learn_more').hide();" %><label>Undergraduate program</label>&nbsp;&nbsp;&nbsp;
	<%= e.radio_button 'learn', 'Email', :onclick => "$('learn_more').hide();" %><label>Email</label>&nbsp;&nbsp;&nbsp;<br />
	<%= e.radio_button 'learn', 'Other', :onclick => "$('learn_more').show();" %><label>Other</label>&nbsp;&nbsp;&nbsp;
  <div id="learn_more" style="display:none;">
  	<label>Please elaborate:</label><br />
    <%= e.text_field 'learn_more', :class => "extra" %>
  </div>
</div>