<div>
	<label>Why are you applying to the Scripps Undergraduate Research Fellowship (SURF) REU program?</label><br />
</div>
<%= e.text_area 'awards', :class => "extra" %>

<div>
	<label>What, if any, research experience do you have?  What type(s) of research experience would you like to experience and develop? (note: previous research experience is not required for participation in the program)</label>
</div>
<%= e.text_area 'lab_skills', :class => "extra" %>

<div>
	<label>Please list any laboratory or computer skills you currently possess.  Which existing skills would you like to improve, or new skills would you like to develop?</label>
</div>
<%= e.text_area 'comp_skills', :class => "extra" %>

<div>
	<label>Do you feel that your academic record accurately reflects your abilities as a student?  Please explain.</label><br />
</div>
<%= e.text_area 'gpa_comments', :class => "extra" %>

<div id="learn">
	<label>How did you learn about the Scripps Undergraduate Research Program (SURF)?</label><br />
	<%= e.radio_button 'learn', 'NSF REU Website', :onclick => "$('learn_more').hide();" %><label>NSF REU Website</label>&nbsp;&nbsp;&nbsp;
	<%= e.radio_button 'learn', 'Scripps Oceanography Website', :onclick => "$('learn_more').hide();" %><label>Scripps Oceanography Website</label>&nbsp;&nbsp;&nbsp;
	<%= e.radio_button 'learn', 'Professor', :onclick => "$('learn_more').hide();" %><label>Professor</label>&nbsp;&nbsp;&nbsp;<br />
	<%= e.radio_button 'learn', 'Undergraduate major program', :onclick => "$('learn_more').hide();" %><label>Undergraduate major program</label>&nbsp;&nbsp;&nbsp;
	<%= e.radio_button 'learn', 'Email', :onclick => "$('learn_more').hide();" %><label>Email</label>&nbsp;&nbsp;&nbsp;
	<%= e.radio_button 'learn', 'Other', :onclick => "$('learn_more').show();" %><label>Other</label>&nbsp;&nbsp;&nbsp;
  <div id="learn_more" style="display:none;">
  	<label>Please elaborate:</label><br />
    <%= e.text_field 'learn_more', :class => "extra" %>
  </div>
</div>

<div id="preference">
	<label>Please select your top 3 preferences for projects/potential faculty mentors.</label><br />
	Refer to <%= link_to "http://sioundergrad.ucsd.edu/research/", 'http://sioundergrad.ucsd.edu/research/' %> and the <%= link_to "current projects page", current_projects_path %> for more information.<br />
	    <%= @extra.mentor1 %>
	    <% if @extra.mentor1.blank? || Extra.mentor_list.include?([@extra.mentor1]) %>
    	    <%= render :partial => "mentor_select", :locals => {:id => 1} %><br />
    	<% else %>
            <%= render :partial => "mentor_input", :locals => {:id => 1} %><br />
        <% end -%>
    	<% if @extra.mentor2.blank? || Extra.mentor_list.include?([@extra.mentor2]) %>
    	    <%= render :partial => "mentor_select", :locals => {:id => 2} %><br />
    	<% else %>
            <%= render :partial => "mentor_input", :locals => {:id => 2} %><br />
        <% end -%>
    	<% if @extra.mentor3.blank? || Extra.mentor_list.include?([@extra.mentor3]) %>
    	    <%= render :partial => "mentor_select", :locals => {:id => 3} %><br />
    	<% else %>
            <%= render :partial => "mentor_input", :locals => {:id => 3} %><br />
        <% end -%>
</div>

<br style="clear:both;" />
<div>
	<label>Please tell us about a recent achievement that you are most proud of, including why you are proud of this.  This achievement can be in any realm of your personal or professional life including academic achievements, extra-curricular accomplishments (i.e. sports, music, hobbies) or any kind of success in your roles in your family and/or your community.</label>
</div>	
<%= e.text_area 'personal_statement', :class => "extra" %>

<%= render :partial => "mentor_observers" %>
