<div>
	<label>Please list up to five academic awards that you have received:</label><br />
	<label>(e.g. Award - Date Received [mm/yy])</label><br />
</div>
<%= e.text_area 'awards', :class => "extra" %>

<div>
	<label>Please list any laboratory skills:</label>
</div>
<%= e.text_area 'lab_skills', :class => "extra" %>

<div>
	<label>Please list any computer skills:</label>
</div>
<%= e.text_area 'comp_skills', :class => "extra" %>

<div>
	<label>Do you feel your GPA accurately reflects your academic abilities?</label><br />
	<label>Please comment on why or why not in the space provided:</label>
</div>
<%= e.text_area 'gpa_comments', :class => "extra" %>

<div id="learn">
	<label>How did you learn about Research Experience for Undergrads (REU)?</label><br />
	<%= e.radio_button 'learn', 'NSF REU Website', :onclick => "$('learn_more').hide();" %><label>NSF REU Website</label>&nbsp;&nbsp;&nbsp;
	<%= e.radio_button 'learn', 'Professor', :onclick => "$('learn_more').hide();" %><label>Professor</label>&nbsp;&nbsp;&nbsp;
	<%= e.radio_button 'learn', 'Poster', :onclick => "$('learn_more').hide();" %><label>Poster</label>&nbsp;&nbsp;&nbsp;
	<%= e.radio_button 'learn', 'Email', :onclick => "$('learn_more').hide();" %><label>Email</label>&nbsp;&nbsp;&nbsp;
	<%= e.radio_button 'learn', 'Other', :onclick => "$('learn_more').show();" %><label>Other</label>&nbsp;&nbsp;&nbsp;
  <div id="learn_more" style="display:none;">
  	<label>Please elaborate:</label><br />
    <%= e.text_field 'learn_more', :class => "extra" %>
  </div>
</div>

<br style="clear:both;" />
<div>
	<label>Please Complete a brief essay (up to 250 words) explaining why you are interested in our program and how the experience may help you achieve your future goals:</label>
</div>	
<%= e.text_area 'personal_statement', :class => "extra" %>