<div id="single_column">
	
	<%= content_tag 'div', h(flash[:notice]), :class => 'notice', :id => 'notice' if flash[:notice] %> 
	<%= content_tag 'div', h(flash[:error]), :class => 'notice error', :id => 'error' if flash[:error] %>
	<h2>Summer 2009 Online Application</h2>
	<div id="about">
		<h5>Submission Deadline:&nbsp;<span class="blood_red">February 20, 2009</span></h5>
	</div>

	<div id="application">
		<%= render :partial => "layouts/app_navbar" %>
		<h1 id="flash"><%= flash[:notice] %></h1>		
		<%= error_messages_for :extra %>
		<% form_for(@extra, :url => { :action => "update" }, :method => "put") do |e| %>
			<div id="fieldset">
				<%= render :partial => "additional_information", :locals => { :e => e } %>
			</div>
			
			<br style="clear:both;" />
		    <p id="submit"><%= e.submit "Update Additional Info" %></p>
		<% end %>
	</div>
</div>