<%= render :partial => "layouts/header_text" %>
<%= render :partial => "layouts/app_navbar" %>

<%= error_messages_for :extra %>
<% form_for(@extra, :url => { :action => "update" }, :method => "put") do |e| %>
	<%= render :partial => "additional_information", :locals => { :e => e } %>
	<br style="clear:both;" />
    <p id="submit"><%= e.submit "Update Additional Info" %></p>
<% end %>