<div id="single_column">
	<%= render :partial => "layouts/header" %>
	<%= content_tag 'div', h(flash[:notice]), :class => 'notice', :id => 'notice' if flash[:notice] %> 
	<%= content_tag 'div', h(flash[:error]), :class => 'notice error', :id => 'error' if flash[:error] %>
	<h2>Summer 2008 Online Application</h2>

	<div id="application">
		<%= render :partial => "layouts/app_navbar" %>
		<h1 id="flash"><%= flash[:notice] %></h1>		
		<%= error_messages_for :extra %>
		<% form_for(@extra, :url => { :action => "update" }, :method => "put") do |e| %>
			<fieldset id="recommender">
				<%= render :partial => "additional_information", :locals => { :e => e } %>
			    <%= e.submit "Update", :id => "submit" %>
				<br style="clear:both;" />	
			</fieldset>
		<% end %>
	</div>
</div>