<ul id="app_navbar">
	<% if params[:controller] == "users" -%>
		<li><%= link_to_unless_current "Personal Data", { :controller => "users", :action => "edit" }, :class => "active" %></li>
	<% else -%>
		<li><%= link_to_unless_current "Personal Data", { :controller => "users", :action => "edit" }%></li>
	<% end -%>

	<% if params[:controller] == "academic_records" -%>
		<li><%= link_to_unless_current "Academic Information", { :controller => "academic_records" }, :class => "active"  %></li>
	<% else -%>
		<li><%= link_to_unless_current "Academic Information", { :controller => "academic_records" } %></li>
	<% end -%>
	
	<% if params[:controller] == "recommendations" -%>
		<li><%= link_to_unless_current "Faculty Recommendation", { :controller => "recommendations" }, :class => "active"  %></li>
	<% else -%>
		<li><%= link_to_unless_current "Faculty Recommendation", { :controller => "recommendations " } %></li>
	<% end -%>
	
	
	<li><%= link_to_unless_current "Additional Information", { :controller => "extras", :action => "edit" } %></li>
</ul>