<h3 class='clear center red'>Application Deadline <%= Setting.application_deadline.to_date.strftime("%B %e") %></h3>

<div id="app_navbar_wrapper">
	<ul id="app_navbar">
		<% if params[:controller] == "users" && ( params[:action] == "edit" || params[:action] == "new" ) -%>
			<li class="active bordered colored rounded positive"><%= link_to "1. Personal Data", { :controller => "users", :action => "edit" }, :class => "active" %></li>
		<% else -%>
			<li class="bordered colored rounded positive"><%= link_to "1. Personal Data", { :controller => "users", :action => "edit" }%></li>
		<% end -%>

		<% if params[:controller] == "academic_records" -%>
			<li class="bordered colored rounded active <%= "positive" if check_academic_records(current_user) %>"><%= link_to "2. Academic", { :controller => "academic_records" }, :class => "active"  %></li>
		<% else -%>
			<li class="bordered colored rounded <%= "positive" if check_academic_records(current_user) %>"><%= link_to "2. Academic", { :controller => "academic_records" } %></li>
		<% end -%>
	
		<% if params[:controller] == "extras" -%>
			<li class="active bordered colored rounded <%= "positive" if check_extras(current_user) %>"><%= link_to "3. Additional", { :controller => "extras" }, :class => "active"  %></li>
		<% else -%>
			<li class="bordered colored rounded <%= "positive" if check_extras(current_user) %>"><%= link_to "3. Additional", { :controller => "extras " } %></li>
		<% end -%>

		<% if params[:controller] == "recommenders" && params[:primary] == true  -%>
			<li class="active bordered colored rounded <%= "positive" if current_user.primary_recommender? %>"><%= link_to "4. Recommender", { :controller => "recommenders", :primary => true }, :class => "active"  %></li>
		<% else -%>
			<li class="bordered colored rounded <%= "positive" if current_user.primary_recommender? %>"><%= link_to "4. Recommender", { :controller => "recommenders", :primary => true } %></li>
		<% end -%>

		<% if params[:controller] == "recommenders" && params[:primary] == false -%>
			<li class="active bordered colored rounded <%= "positive" if current_user.secondary_recommender? %>"><%= link_to "5. Second Recommender", { :controller => "recommenders" , :primary => false}, :class => "active"  %></li>
		<% else -%>
			<li class="bordered colored rounded <%= "positive" if current_user.secondary_recommender? %>"><%= link_to "5. Second Recommender", { :controller => "recommenders", :primary => false } %></li>
		<% end -%>

		<% if params[:controller] == "users" && params[:action] == "submit" -%>
			<li class="active bordered colored rounded"><%= link_to "6. Review/Submit", { :controller => "users", :action => "submit" }, :class => "active" %></li>
		<% else -%>
			<li class="bordered colored rounded"><%= link_to "6. Review/Submit", { :controller => "users", :action => "submit" } %></li>
		<% end -%>
	</ul>
	<p class='red clear'>The buttons above will turn green once the section is complete with all required information.</p>
</div>
