<div id="app_navbar_wrapper">
	<ul id="app_navbar">
		<% if params[:controller] == "users" && ( params[:action] == "edit" || params[:action] == "new" ) -%>
			<li class="active bordered colored rounded positive"><%= link_to "1. Personal Data", { :controller => "users", :action => "edit" }, :class => "active" %></li>
		<% else -%>
			<li class="bordered colored rounded positive"><%= link_to "1. Personal Data", { :controller => "users", :action => "edit" }%></li>
		<% end -%>

		<% if params[:controller] == "academic_records" -%>
			<li class="active bordered colored rounded <%= "positive" if check_academic_records %>"><%= link_to "2. Academic Information", { :controller => "academic_records" }, :class => "active"  %></li>
		<% else -%>
			<li class="bordered colored rounded <%= "positive" if check_academic_records %>"><%= link_to "2. Academic Information", { :controller => "academic_records" } %></li>
		<% end -%>
	

		<% if params[:controller] == "extras" -%>
			<li class="active bordered colored rounded <%= "positive" if check_extras %>"><%= link_to "3. Additional Information", { :controller => "extras" }, :class => "active"  %></li>
		<% else -%>
			<li class="bordered colored rounded <%= "positive" if check_extras %>"><%= link_to "3. Additional Information", { :controller => "extras " } %></li>
		<% end -%>

		<% if params[:controller] == "recommenders" -%>
			<li class="active bordered colored rounded <%= "positive" if check_recommender %>"><%= link_to "4. Recommender Information", { :controller => "recommenders" }, :class => "active"  %></li>
		<% else -%>
			<li class="bordered colored rounded <%= "positive" if check_recommender %>"><%= link_to "4. Recommender Information", { :controller => "recommenders " } %></li>
		<% end -%>

		<% if params[:controller] == "users" && params[:action] == "submit" -%>
			<li class="active bordered colored rounded"><%= link_to "5. Submit/Save Application", { :controller => "users", :action => "submit" }, :class => "active" %></li>
		<% else -%>
			<li class="bordered colored rounded"><%= link_to "5. Submit/Save Application", { :controller => "users", :action => "submit" } %></li>
		<% end -%>
	</ul>
</div>