<div id="app_navbar_wrapper">
	<ul id="app_navbar">
		<% if params[:controller] == "users" && params[:action] == "edit" -%>
			<li class="active bordered colored rounded"><%= link_to_unless_current "1. Personal Data", { :controller => "users", :action => "edit" }, :class => "active" %></li>
		<% else -%>
			<li class="bordered colored rounded"><%= link_to_unless_current "1. Personal Data", { :controller => "users", :action => "edit" }%></li>
		<% end -%>

		<% if params[:controller] == "academic_records" -%>
			<li class="active bordered colored rounded"><%= link_to_unless_current "2. Academic Information", { :controller => "academic_records" }, :class => "active"  %></li>
		<% else -%>
			<li class="bordered colored rounded"><%= link_to_unless_current "2. Academic Information", { :controller => "academic_records" } %></li>
		<% end -%>
	
		<% if params[:controller] == "recommenders" -%>
			<li class="active bordered colored rounded"><%= link_to_unless_current "3. Faculty Recommendation", { :controller => "recommenders" }, :class => "active"  %></li>
		<% else -%>
			<li class="bordered colored rounded"><%= link_to_unless_current "3. Faculty Recommendation", { :controller => "recommenders " } %></li>
		<% end -%>
	
		<% if params[:controller] == "extras" -%>
			<li class="active bordered colored rounded"><%= link_to_unless_current "4. Additional Information", { :controller => "extras" }, :class => "active"  %></li>
		<% else -%>
			<li class="bordered colored rounded"><%= link_to_unless_current "4. Additional Information", { :controller => "extras " } %></li>
		<% end -%>
		<% if params[:controller] == "users" && params[:action] == "submit" -%>
			<li class="active bordered colored rounded"><%= link_to_unless_current "5. Submit Application", "/submit", :class => "active" %></li>
		<% else -%>
			<li class="bordered colored rounded"><%= link_to_unless_current "5. Submit Application", "/submit" %></li>
		<% end -%>
	</ul>
	<br style="clear:both;" />
</div>