<div class="container" id="be_footer">
	<div class="span-4">
		<h6><%= link_to "Message From The Chair", "http://be.ucsd.edu/about/chair" %>
		<br /><br />
		<h6><%= link_to "About Us", "http://be.ucsd.edu/about" %></h6>
		<ul>
			<li><%= link_to "Department Directory", "http://be.ucsd.edu/directory" %></li>
			<li><%= link_to "Administration", "http://be.ucsd.edu/contact" %></li>
			<li><%= link_to "Glossary", "http://be.ucsd.edu/glossary" %></li>
			<li><%= link_to "Directions", "http://be.ucsd.edu/directions" %></li>
			<li><%= link_to "Facilities and Safety Resources", "https://www-bioeng.ucsd.edu/internal/facilities/index.cfm" %></li>
		</ul>
		<h6><%= link_to "Faculty and Research", "http://be.ucsd.edu/faculty" %></h6>
		<ul>
			<li><%= link_to "Directory Listing", "http://be.ucsd.edu/directory/faculty" %></li>
			<li><%= link_to "Faculty Profiles", "http://be.ucsd.edu/faculty/profiles" %></li>
			<li><%= link_to "Research Groups", "http://be.ucsd.edu/faculty/research" %></li>
			<li><%= link_to "Research Facilities", "http://be.ucsd.edu/faculty/facilities" %></li>
		</ul>
	</div>

	<div class="span-4">
		<h6><%= link_to "Graduate", "http://be.ucsd.edu/graduate" %></h6>
		<ul>
			<li><%= link_to "Academics", "http://be.ucsd.edu/graduate/academics" %></li>
			<li><%= link_to "Research", "http://be.ucsd.edu/graduate/research" %></li>
			<li><%= link_to "Collaboration", "http://be.ucsd.edu/graduate/collaboration" %></li>
			<li><%= link_to "Graduate Programs", "http://be.ucsd.edu/graduate/programs" %></li>
			<li><%= link_to "Current Students", "http://be.ucsd.edu/graduate/students" %></li>
			<li><%= link_to "Prospective Students", "http://be.ucsd.edu/graduate/prospective" %></li>
			<li><%= link_to "BEGS", "http://begs.ucsd.edu/" %></li>
			<li><%= link_to "Contact Info", "http://be.ucsd.edu/graduate/students/contact" %></li>
		</ul>
	</div>

	<div class="span-4">
		<h6><%= link_to "Undergraduate", "http://be.ucsd.edu/undergraduate" %></h6>
		<ul>
			<li><%= link_to "Degree Programs", "http://be.ucsd.edu/undergraduate/programs" %></li>
			<li><%= link_to "Prospective Students", "http://be.ucsd.edu/undergraduate/prospective" %></li>
			<li><%= link_to "Advising", "http://be.ucsd.edu/undergraduate/advising" %></li>
			<li><%= link_to "Research", "http://be.ucsd.edu/undergraduate/research" %></li>
			<li><%= link_to "Career Information", "http://be.ucsd.edu/undergraduate/career" %></li>
			<li><%= link_to "FAQs", "http://be.ucsd.edu/undergraduate/faqs" %></li>
			<li><%= link_to "Senior Design", "http://be.ucsd.edu/undergraduate/research/project" %></li>
			<li><%= link_to "BMES", "http://bmes.ucsd.edu/" %></li>
			<li><%= link_to "ISPE", "http://ispe.ucsd.edu/" %></li>
			<li><%= link_to "Senior Graduation", "http://graduation09.be.ucsd.edu/" %></li>
		</ul>
	</div>

	<div class="span-4">
		<h6><%= link_to "Industry Central", "http://be.ucsd.edu/industry" %></h6>
		<ul>
			<li><%= link_to "Bioengineering Events", "http://be.ucsd.edu/industry/events" %></li>
			<li><%= link_to "Careers", "http://careers.be.ucsd.edu/" %></li>
			<li><%= link_to "Faculty Research", "http://be.ucsd.edu/faculty/research" %></li>
			<li><%= link_to "Internships", "http://careers.be.ucsd.edu/" %></li>
			<li><%= link_to "Senior Design Projects", "http://be.ucsd.edu/node/248" %></li>
		</ul>
	</div>

	<div class="span-4 last">
		<h6><%= link_to "News", "http://be.ucsd.edu/news" %></h6>
		<ul>
			<li><%= link_to "News Links", "http://be.ucsd.edu/news/links" %></li>
			<li><%= link_to "Newsletters", "http://be.ucsd.edu/news/newsletters" %></li>
		</ul>
		
		<h6><%= link_to "Seminars", "http://be.ucsd.edu/seminars" %></h6>
		<ul>
			<li><%= link_to "Other SD Biotech Seminars", "http://www.biotech-calendar.com/sdcal/" %></li>
		</ul>
	</div>

	<div class="span-4 last">
		
		<h6><%= link_to "Careers and Internships", "http://be.ucsd.edu/positions" %></h6>
		<ul>
			<li><%= link_to "Internships", "http://careers.be.ucsd.edu/" %></li>
			<li><%= link_to "Faculty", "http://be.ucsd.edu/positions/faculty" %></li>
			<li><%= link_to "Postdoctoral Research", "http://be.ucsd.edu/positions/research" %></li>
			<li><%= link_to "Undergraduate Employment", "http://be.ucsd.edu/positions/undergrad" %></li>
			<li><%= link_to "Administrative and Research Staff", "http://be.ucsd.edu/positions/staff" %></li>
			<li><%= link_to "Volunteer Positions", "http://be.ucsd.edu/positions/volunteer" %></li>
		</ul>
		<h6>Giving</h6>
		<ul>
			<li><%= link_to "Departmental Initiatives", "http://giving.be.ucsd.edu/funds?type=department" %></li>
			<li><%= link_to "Educational Enrichment", "http://giving.be.ucsd.edu/funds?type=educational" %></li>
			<li><%= link_to "Research Investment", "http://giving.be.ucsd.edu/funds?type=research" %></li>
			<li><%= link_to "Service to Community", "http://giving.be.ucsd.edu/funds?type=service" %></li>
		</ul>
	</div>
</div>