<div class="container" id="be_footer">
	<div class="span-4">
		<h6><%= link_to "About Us", "http://be.ucsd.edu/about" %></h6>
		<ul>
			<li><%= link_to "Department Directory", "#" %></li>
			<li><%= link_to "Administration", "#" %></li>
			<li><%= link_to "Glossary", "#" %></li>
			<li><%= link_to "Directions", "#" %></li>
			<li><%= link_to "Facilities and Safety Resources", "#" %></li>
		</ul>
		<h6>Faculty and Research</h6>
		<ul>
			<li><%= link_to "Directory Listing", "#" %></li>
			<li><%= link_to "Faculty Profiles", "#" %></li>
			<li><%= link_to "Research Groups", "#" %></li>
			<li><%= link_to "Research Facilities", "#" %></li>
		</ul>
	</div>

	<div class="span-4">
		<h6>Graduate</h6>
		<ul>
			<li><%= link_to "Academics", "#" %></li>
			<li><%= link_to "Research", "#" %></li>
			<li><%= link_to "Collaboration", "#" %></li>
			<li><%= link_to "Graduate Programs", "#" %></li>
			<li><%= link_to "Current Students", "#" %></li>
			<li><%= link_to "Prospective Students", "#" %></li>
			<li><%= link_to "BEGS", "#" %></li>
			<li><%= link_to "Contact Info", "#" %></li>
		</ul>
	</div>

	<div class="span-4">
		<h6>Undergraduate</h6>
		<ul>
			<li><%= link_to "Degree Programs", "#" %></li>
			<li><%= link_to "Prospective Students", "#" %></li>
			<li><%= link_to "Advising", "#" %></li>
			<li><%= link_to "Research", "#" %></li>
			<li><%= link_to "Career Information", "#" %></li>
			<li><%= link_to "FAQs", "#" %></li>
			<li><%= link_to "Senior Design", "#" %></li>
			<li><%= link_to "BMES", "#" %></li>
			<li><%= link_to "ISPE", "#" %></li>
			<li><%= link_to "Senior Graduation", "#" %></li>
		</ul>
	</div>

	<div class="span-4">
		<h6>Industry Central</h6>
		<ul>
			<li><%= link_to "Bioengineering Events", "#" %></li>
			<li><%= link_to "Careers", "#" %></li>
			<li><%= link_to "Faculty Research", "#" %></li>
			<li><%= link_to "Internships", "#" %></li>
			<li><%= link_to "Senior Design Projects", "#" %></li>
		</ul>
	</div>

	<div class="span-4 last">
		<h6>News</h6>
		<ul>
			<li><%= link_to "News Links", "#" %></li>
			<li><%= link_to "Newsletters", "#" %></li>
		</ul>
		
		<h6>Seminars</h6>
		<ul>
			<li><%= link_to "Other SD Biotech Seminars", "#" %></li>
		</ul>
	</div>

	<div class="span-4 last">
		
		<h6>Careers and Internships</h6>
		<ul>
			<li><%= link_to "Internships", "#" %></li>
			<li><%= link_to "Faculty", "#" %></li>
			<li><%= link_to "Postdoctoral Research", "#" %></li>
			<li><%= link_to "Undergraduate Employment", "#" %></li>
			<li><%= link_to "Administrative and Research Staff", "#" %></li>
			<li><%= link_to "Volunteer Positions", "#" %></li>
		</ul>
		<h6>Giving</h6>
		<ul>
			<li><%= link_to "Departmental Initiatives", "#" %></li>
			<li><%= link_to "Educational Enrichment", "#" %></li>
			<li><%= link_to "Research Investment", "#" %></li>
			<li><%= link_to "Service to Community", "#" %></li>
		</ul>
	</div>
</div>