<% unless params[:action] == "login" -%>
	<ul id="buttons">
		<% if logged_in? -%>
	
			<li class="last"><%= link_to "Logout", { :controller => "sessions", :action => "destroy" } %></li>
			<% if params[:controller] == "users" || params[:controller] == "academic_records" || params[:controller] == "recommenders" || params[:controller] == "extras" -%>
				<% if current_user && current_user.submitted_at && !check_admin && params[:controller] != "recommendation" %>
					<li class="selected"><%= link_to "Application", { :controller => "users", :action => "status" }%></li>
				<% end -%>				
			<% else -%>
				<% if current_user && current_user.submitted_at && !check_admin && params[:controller] != "recommendation" %>
					<li><%= link_to "Application", { :controller => "users", :action => "status" }%></li>

				<% end -%>
			<% end -%>
	
		<% elsif Date.today > Date.parse("January 11 2010") -%>
				<li class="last"><%= link_to "Login", { :controller => "sessions", :action => "new" } %></li>
		<% end -%>

			
		<% if current_user && check_admin -%>		
			<% if params[:controller] == "admin" -%>
				<li class="selected"><%= link_to "Admin", { :controller => "admin" }%></li>
			<% else -%>
				<li><%= link_to "Admin", { :controller => "admin" }%></li>
			<% end -%>
		<% end -%>
		
		<% if params[:controller] == "projects" && params[:action] == "index" -%>
			<li class="selected"><%= link_to "Past Projects", { :controller => "projects" } %></li>
		<% else -%>
			<li><%= link_to "Past Projects", { :controller => "projects" } %></li>
		<% end -%>

		<% if current_user && current_user.role.name == 'student' -%>
			<% if params[:controller] == "users" && params[:action] == "edit" -%>
				<li class="selected"><%= link_to "Your Application", { :controller => "users" } %></li>
			<% else -%>
				<li><%= link_to "Your Application", { :controller => "users" } %></li>
			<% end -%>
		<% end -%>

		<% unless Time.now > DateTime.new(2011,3,6,8,0) -%>
			<% unless current_user && current_user.role.name == 'student' -%>
				<% if params[:controller] == "users" && params[:action] == "new" -%>
					<li class="selected"><%= link_to "Apply", { :controller => "users", :action => 'new' } %></li>
				<% else -%>
					<li><%= link_to "Apply", { :controller => "users", :action => 'new' } %></li>
				<% end -%>
			<% end -%>
		<% end -%>

		<% if params[:controller] == "welcome" && params[:action] == "index" -%>
			<li class="selected"><%= link_to "REU Welcome", { :controller => "welcome" } %></li>
		<% else -%>
			<li><%= link_to "REU Welcome", { :controller => "welcome" } %></li>
		<% end -%>
		
	</ul>
<% end -%>