<% unless params[:action] == "login" -%>
	<ul id="buttons">
		<% if logged_in? -%>
	
			<li class="last"><%= link_to "Logout", { :controller => "sessions", :action => "destroy" } %></li>
			<% if params[:controller] == "users" || params[:controller] == "academic_records" || params[:controller] == "recommenders" || params[:controller] == "extras" -%>
				<% if current_user && current_user.submit_date && !check_admin && params[:controller] != "recommendation" %>
					<li class="selected"><%= link_to "Application", { :controller => "users", :action => "status" }%></li>
				<% elsif !check_admin  && params[:controller] != "recommendation" -%>
					<li class="selected"><%= link_to "Application", edit_user_url(current_user) %></li>
				<% end -%>				
			<% else -%>
				<% if current_user && current_user.submit_date && !check_admin && params[:controller] != "recommendation" %>
					<li><%= link_to "Application", { :controller => "users", :action => "status" }%></li>
				<% elsif !check_admin -%>
					<li><%= link_to "Application", edit_user_url(current_user) %></li>
				<% end -%>
			<% end -%>
	
		<% elsif Date.today > Date.parse("January 19 2010") -%>
				<li class="last"><%= link_to "Login/Apply", { :controller => "sessions", :action => "new" } %></li>
		<% end -%>

			
		<% if current_user && current_user.id == 1 -%>		
			<% if params[:controller] == "admin" -%>
				<li class="selected"><%= link_to "Admin", { :controller => "admin" }%></li>
			<% else -%>
				<li><%= link_to "Admin", { :controller => "admin" }%></li>
			<% end -%>
		<% end -%>
		
		<% if params[:controller] == "projects" && params[:action] == "index" -%>
			<li class="selected"><%= link_to "Past Projects", { :controller => "projects" } %></li>
		<% else -%>
			<li><%= link_to "Past Projects", { :controller => "projects" } %></li>
		<% end -%>

		<% if params[:controller] == "welcome" && params[:action] == "index" -%>
			<li class="selected"><%= link_to "Welcome", { :controller => "welcome" } %></li>
		<% else -%>
			<li><%= link_to "Welcome", { :controller => "welcome" } %></li>
		<% end -%>
		
	</ul>
<% end -%>