<div id="footer">
	<p>
		If you have any comments, questions, or suggestions, please contact us at <%= mail_to Setting.mail_from %>. 
		Copyright &copy; <%= Time.now.year %>. 
		All rights reserved.
		<%= link_to "XHTML1", "http://validator.w3.org/check?uri=referer", :target => "_blank" %>, <%= link_to "CSS3", "http://jigsaw.w3.org/css-validator/validator?uri=http%3A%2F%2Fbe.ucsd.edu%2Fundergraduate%2Fresearch%2Fnsfreu%2F&amp;warning=1&amp;profile=css3&amp;usermedium=all", :target => "_blank" %>, and <%= link_to "Section 508", "http://www.contentquality.com/" %> valid.
	</p>
	<p>
		The <%= link_to "REU Manager online application management system", 'https://reumanager.com' %> is freely available for use by other <%= link_to "undergraduate research programs", 'http://www.nsf.gov/funding/pgm_summ.jsp?pims_id=5517&org=NSF' %>.  Development for this project is supported by <%= link_to 'NSF EEC-1062979', "http://www.nsf.gov/awardsearch/showAward?AWD_ID=1062979" %>.  
	</p>
</div>