<!DOCTYPE html>
    <%= render '/refinery/html_tag' %>
    <% site_bar = render('/refinery/site_bar', :head => true) -%>
    <%= render '/refinery/head' %>

    <body>
        <div id="wrap">
            
            <%= site_bar -%>
        
            <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
        
            <header id="header"><%= render '/refinery/header' -%></header>
 
            <%= yield %>
            
            <div id="push"></div>
            
        </div>
        <footer id='footer'><%= render '/refinery/footer' -%></footer>
        
        <%= render '/refinery/javascripts' %>
        
    </body>

</html>
