!!!
%html
  %head
    %title= Setting[:app_title]
    = csrf_meta_tag
    = stylesheet_link_tag :application
    %script(src="https://js.stripe.com/v3/")
    = javascript_include_tag :application
    /[if lt IE 9]
      =raw microsloth_sucks
    %link{:href => "#{image_path('icons/favicon.ico')}", :rel => "shortcut icon", :type => "image/x-icon"}/
    %link{:href => "#{image_path('icons/apple-touch-icon.png')}", :rel => "apple-touch-icon"}/
    %link{:href => "#{image_path('icons/apple-touch-icon-57x57.png')}", :rel => "apple-touch-icon", :sizes => "57x57"}/
    %link{:href => "#{image_path('icons/apple-touch-icon-72x72.png')}", :rel => "apple-touch-icon", :sizes => "72x72"}/
    %link{:href => "#{image_path('icons/apple-touch-icon-76x76.png')}", :rel => "apple-touch-icon", :sizes => "76x76"}/
    %link{:href => "#{image_path('icons/apple-touch-icon-114x114.png')}", :rel => "apple-touch-icon", :sizes => "114x114"}/
    %link{:href => "#{image_path('icons/apple-touch-icon-120x120.png')}", :rel => "apple-touch-icon", :sizes => "120x120"}/
    %link{:href => "#{image_path('icons/apple-touch-icon-144x144.png')}", :rel => "apple-touch-icon", :sizes => "144x144"}/
    %link{:href => "#{image_path('icons/apple-touch-icon-152x152.png')}", :rel => "apple-touch-icon", :sizes => "152x152"}/
  %body
    #flash
      = content_tag 'div', (flash[:alert]), :class => 'alert', :id => 'alert', :onclick => "$(this).slideUp();" if flash[:alert]
      = content_tag 'div', (flash[:error]), :class => 'alert alert-error', :id => 'error', :onclick => "$(this).slideUp();" if flash[:error]
      = content_tag 'div', (flash[:notice]), :class => 'alert alert-notice', :id => 'notice', :onclick => "$(this).slideUp();" if flash[:notice]
      = content_tag 'div', (flash[:success]), :class => 'alert alert-success', :id => 'success', :onclick => "$(this).slideUp();" if flash[:success]
    =render "layouts/header"
    =render "layouts/navbar"
    .container.content
      = yield
    %footer.container
      .footer-inner
        =render "layouts/footer_text"