<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<meta name="description" content="UCSD Bioengineering - NSF REU: University of California, San Diego Bioengineering Department - National Science Foundation Research Experience for Undergrads. The Department of Bioengineering is pleased to announce a National Science Foundation Research Experience for Undergraduates (NSF-REU) program in Regenerative Medicine, Multi-Scale Bioengineering, and Systems Biology."/>
		<meta name="keywords" content="UCSD, Bioegnieering, NSF, REU, University of California, San Diego, National Science Foundation, Research Experience for Undergraduates, Department of Bioengineering, regenerative medicine, multi-scale bioengineering, systems biology"/>
		<meta name="robots" content="index,follow"/>
		<meta name="revisit-after" content="14 days"/>
		<meta name="googlebot" content="index,follow"/>
		<title>UC San Diego, Department of Bioengineering | NSF Research Experience for Undergraduates</title>
		<%= stylesheet_link_tag 'print', :media => "print" %>
		<%= stylesheet_link_tag 'screen' %>
		<!--[if lt IE 8]><%= stylesheet_link_tag 'ie' %><![endif]-->
		<%= stylesheet_link_tag 'application' %>
	    <%= javascript_include_tag :defaults %>
	    <%= javascript_include_tag 'slideshow' %>
		<script type="text/javascript">
		var curvyCornersVerbose = false;
		</script>
	</head>
	<body>
		<div id="wrapper">
			<div class="container">			
				<%= render :partial => "layouts/header" %>
				<div id="content">
					<%= content_tag 'div', h(flash[:notice]), :class => 'notice', :id => 'notice' if flash[:notice] %> 
					<%= content_tag 'div', h(flash[:error]), :class => 'notice error', :id => 'error' if flash[:error] %>
					<%= yield %>					
				</div>
			</div>
			<%= render :partial => "layouts/bioeng_footer" %>
			<%= render :partial => "layouts/footer" %>
		</div>
		
		<script type="text/javascript" language="javascript">
		  // <![CDATA[
		  $('notice').highlight();
		  $('notice').fade( { duration: 3.5 } );
		  $('error').highlight();
		  $('error').fade( { duration: 3.5 } );
		  // ]]>
		</script>
		
		<script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
			try {
				var pageTracker = _gat._getTracker("UA-4732641-3");
				pageTracker._trackPageview();
				} 
			catch(err) {}
		</script>
	</body>
</html>
