<!DOCTYPE html>
    <%= render '/refinery/html_tag' %>
    <% site_bar = render('/refinery/site_bar', :head => true) -%>
    <%= render '/refinery/head' %>

    <body>
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-4732641-18']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
        
        <script type="text/javascript">
        document.write(unescape("%3Cscript src='" + (("https:" == document.location.protocol) ? "https://ssl-" : "http://")
        + "include.reinvigorate.net/re_.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
        try {
        reinvigorate.track("8e5dr-euky14s4gi");
        } catch(err) {}
        </script>

        <div id="wrap">
            
            <%= site_bar -%>
        
            <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
        
            <header id="header"><%= render '/refinery/header' -%></header>
 
            <%= yield %>
            
            <div id="push"></div>
            
        </div>
        <footer id='footer'><%= render '/refinery/footer' -%></footer>
        
        <%= render '/refinery/javascripts' %>
        
    </body>

</html>
